<div class="card-body">
  <form #licensingRequestForm="ngForm" novalidate>
    <div class="accordion" id="licensingRequest">
      <h6 id="request" class="text-success lamp-pointer" data-toggle="collapse" href="#collapseLicense" role="button"
        aria-expanded="true" aria-controls="collapseLicense">Edit License {{ licensingRequestId }}
        <hr>
      </h6>
      <div class="collapse show" id="collapseLicense" aria-labelledby="request" data-parent="#licensingRequest">
        <div class="form-row mb-3">
          <div class="form-group col-md-6">
            <label for="employer">Employer</label>
            <select class="custom-select" id="employer" name="employer" [(ngModel)]="licensingRequest.employer"
              aria-describedby="employerHelp">
              <option selected>Open this select menu</option>
            </select>
          </div>
          <div class="form-group col-md-6">
            <label for="occupation">Occupation</label>
            <select class="custom-select" id="occupation" name="occupation" [(ngModel)]="licensingRequest.occupation"
              aria-describedby="occupationHelp">
              <option selected>Open this select menu</option>
            </select>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="licenseType">License Type</label>
            <select class="custom-select" id="licenseType" name="licenseType" [(ngModel)]="licensingRequest.licenseType"
              aria-describedby="licenseTypeHelp">
              <option selected>Open this select menu</option>
            </select>
          </div>
          <div class="form-group col-md-6">
            <label for="issueType">Issue Type</label>
            <select class="custom-select" id="issueType" name="issueType" [(ngModel)]="licensingRequest.issueType"
              aria-describedby="issueTypeHelp">
              <option selected>Open this select menu</option>
            </select>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="licenseNumber">License Number</label>
            <input type="text" class="form-control" id="licenseNumber" name="licenseNumber"
              [(ngModel)]="licensingRequest.licenseNumber" aria-describedby="licenseNumberHelp"
              placeholder="License Number">
          </div>
          <div class="form-group col-md-6">
            <label for="issuingOfficer">Issuing Officer</label>
            <select class="custom-select" id="issuingOfficer" name="issuingOfficer"
              [(ngModel)]="licensingRequest.issuingOfficer" aria-describedby="issuingOfficerHelp">
              <option selected>Open this select menu</option>
            </select>
          </div>
        </div>

        <div class="form-row mb-3">
          <div class="form-group col-md-6">
            <label for="dateOfRenewal">Date Of Issue|Renewal</label>
            <input type="date" class="form-control" id="dateOfRenewal" name="dateOfRenewal"
              [(ngModel)]="licensingRequest.dateOfRenewal" aria-describedby="dateOfRenewalHelp"
              placeholder="Date Of Renewal">
          </div>
          <div class="form-group col-md-6">
            <label for="licenseValidTill">License Valid Till</label>
            <input type="date" class="form-control" id="licenseValidTill" name="licenseValidTill"
              [(ngModel)]="licensingRequest.licenseValidTill" aria-describedby="licenseValidTillHelp"
              placeholder="License Valid Till">
          </div>
        </div>

        <div class="form-row mb-3">
          <div class="form-group col-md-6">
            <label for="aircraftCategory">Aircraft Category</label>
            <select class="custom-select" id="aircraftCategory" name="aircraftCategory"
              [(ngModel)]="licensingRequest.aircraftCategory" aria-describedby="aircraftCategoryHelp">
              <option selected>Open this select menu</option>
            </select>
          </div>
          <div class="form-group col-md-6">
            <label for="aircraftClass" class="custom-label">Aircraft Class</label>

            <div class="custom-control custom-control-inline custom-radio">
              <input type="radio" class="custom-control-input" id="single" name="aircraftClass"
                aria-describedby="singleHelp">
              <label class="custom-control-label" for="single">Single</label>
            </div>

            <div class="custom-control custom-control-inline custom-radio">
              <input type="radio" class="custom-control-input" id="multiEngine" name="aircraftClass"
                aria-describedby="multiEngineHelp">
              <label class="custom-control-label" for="multiEngine">Multi-Engine</label>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="medicalExamDate">Medical Exam Date</label>
            <input type="date" class="form-control" id="medicalExamDate" name="medicalExamDate"
              [(ngModel)]="licensingRequest.medicalExamDate" aria-describedby="medicalExamDateHelp"
              placeholder="Medical Exam Date">
          </div>
          <div class="form-group col-md-6">
            <label for="medicalExamValidTill">Medical Exam Valid Till</label>
            <input type="date" class="form-control" id="medicalExamValidTill" name="medicalExamValidTill"
              [(ngModel)]="licensingRequest.medicalExamValidTill" aria-describedby="medicalExamValidTillHelp"
              placeholder="Medical Exam Valid Till">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="proficiencyCheckDate">Proficiency Check Date</label>
            <input type="date" class="form-control" id="proficiencyCheckDate" name="proficiencyCheckDate"
              [(ngModel)]="licensingRequest.proficiencyCheckDate" aria-describedby="proficiencyCheckDateHelp"
              placeholder="Proficiency Check Date">
          </div>
          <div class="form-group col-md-6">
            <label for="proficiencyCheckValidTill">Proficiency Check Valid Till</label>
            <input type="date" class="form-control" id="proficiencyCheckValidTill" name="proficiencyCheckValidTill"
              [(ngModel)]="licensingRequest.proficiencyCheckValidTill" aria-describedby="proficiencyCheckValidTillHelp"
              placeholder="Proficiency Check Valid Till">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="fireDrillDate">Fire Drill Date</label>
            <input type="date" class="form-control" id="fireDrillDate" name="fireDrillDate"
              [(ngModel)]="licensingRequest.fireDrillDate" aria-describedby="fireDrillDateHelp"
              placeholder="Fire Drill Date">
          </div>
          <div class="form-group col-md-6">
            <label for="fireDrillValidTill">Fire Drill Valid Till</label>
            <input type="date" class="form-control" id="fireDrillValidTill" name="fireDrillValidTill"
              [(ngModel)]="licensingRequest.fireDrillValidTill" aria-describedby="fireDrillValidTillHelp"
              placeholder="Fire Drill Valid Till">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="ditchingDate">Ditching Date</label>
            <input type="date" class="form-control" id="ditchingDate" name="ditchingDate"
              [(ngModel)]="licensingRequest.ditchingDate" aria-describedby="ditchingDateHelp"
              placeholder="Ditching Date">
          </div>
          <div class="form-group col-md-6">
            <label for="ditchingValidTill">Ditching Valid Till</label>
            <input type="date" class="form-control" id="ditchingValidTill" name="ditchingValidTill"
              [(ngModel)]="licensingRequest.ditchingValidTill" aria-describedby="ditchingValidTillHelp"
              placeholder="Ditching Valid Till">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="recurrencyCheckDate">Recurrency Check Date</label>
            <input type="date" class="form-control" id="recurrencyCheckDate" name="recurrencyCheckDate"
              [(ngModel)]="licensingRequest.recurrencyCheckDate" aria-describedby="recurrencyCheckDateHelp"
              placeholder="Recurrency Check Date">
          </div>
          <div class="form-group col-md-6">
            <label for="recurrencyCheckValidTill">Recurrency Check Valid Till</label>
            <input type="date" class="form-control" id="recurrencyCheckValidTill" name="recurrencyCheckValidTill"
              [(ngModel)]="licensingRequest.recurrencyCheckValidTill" aria-describedby="recurrencyCheckValidTillHelp"
              placeholder="Recurrency Check Valid Till">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="competencyCheckDate">Competency Check Date</label>
            <input type="date" class="form-control" id="competencyCheckDate" name="competencyCheckDate"
              [(ngModel)]="licensingRequest.competencyCheckDate" aria-describedby="competencyCheckDateHelp"
              placeholder="Competency Check Date">
          </div>
          <div class="form-group col-md-6">
            <label for="competencyCheckValidTill">Competency Check Valid Till</label>
            <input type="date" class="form-control" id="competencyCheckValidTill" name="competencyCheckValidTill"
              [(ngModel)]="licensingRequest.competencyCheckValidTill" aria-describedby="competencyCheckValidTillHelp"
              placeholder="Competency Check Valid Till">
          </div>
        </div>

        <div class="form-row mb-3">
          <div class="form-group col-md-6">
            <label for="instrumentTestDate">Instrument Test Date</label>
            <input type="date" class="form-control" id="instrumentTestDate" name="instrumentTestDate"
              [(ngModel)]="licensingRequest.instrumentTestDate" aria-describedby="instrumentTestDateHelp"
              placeholder="Instrument Test Date">
          </div>
          <div class="form-group col-md-6">
            <label for="instrumentTestValidTill">Instrument Test Valid Till</label>
            <input type="date" class="form-control" id="instrumentTestValidTill" name="instrumentTestValidTill"
              [(ngModel)]="licensingRequest.instrumentTestValidTill" aria-describedby="instrumentTestValidTillHelp"
              placeholder="Instrument Test Valid Till">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="pplValidTill">PPL Valid Till</label>
            <input type="date" class="form-control" id="pplValidTill" name="pplValidTill"
              [(ngModel)]="licensingRequest.pplValidTill" aria-describedby="pplValidTillHelp"
              placeholder="PPL Valid Till">
          </div>
          <div class="form-group col-md-6">
            <label for="ecgValidTill">ECG Valid Till</label>
            <input type="date" class="form-control" id="ecgValidTill" name="ecgValidTill"
              [(ngModel)]="licensingRequest.ecgValidTill" aria-describedby="ecgValidTillHelp"
              placeholder="ECG Valid Till">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="audiogramValidTill">Audiogram Valid Till</label>
            <input type="date" class="form-control" id="audiogramValidTill" name="audiogramValidTill"
              [(ngModel)]="licensingRequest.audiogramValidTill" aria-describedby="audiogramValidTillHelp"
              placeholder="Audiogram Valid Till">
          </div>
          <div class="form-group col-md-6">
            <label for="authExaminerExpiry">Auth Examiner Expiry</label>
            <input type="date" class="form-control" id="authExaminerExpiry" name="authExaminerExpiry"
              [(ngModel)]="licensingRequest.authExaminerExpiry" aria-describedby="authExaminerExpiryHelp"
              placeholder="Auth Examiner Expiry">
          </div>
        </div>

        <div class="form-row mb-3">
          <div class="form-group col-md-12">
            <label for="towingRating">Towing Rating</label>
            <textarea class="form-control" id="towingRating" name="towingRating"
              [(ngModel)]="licensingRequest.towingRating" aria-describedby="towingRatingHelp"
              placeholder="Type an towing rating..."></textarea>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="instructorTestDate">Instructor Test Date</label>
            <input type="date" class="form-control" id="instructorTestDate" name="instructorTestDate"
              [(ngModel)]="licensingRequest.instructorTestDate" aria-describedby="instructorTestDateHelp"
              placeholder="Instructor Test Date">
          </div>
          <div class="form-group col-md-6">
            <label for="instructorTestValidTill">Instructor Test Valid Till</label>
            <input type="date" class="form-control" id="instructorTestValidTill" name="instructorTestValidTill"
              [(ngModel)]="licensingRequest.instructorTestValidTill" aria-describedby="instructorTestValidTillHelp"
              placeholder="Instructor Test Valid Till">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="instructorRatingsEndorsement">Instructor Ratings Endorsement</label>
            <textarea class="form-control" id="instructorRatingsEndorsement" name="instructorRatingsEndorsement"
              [(ngModel)]="licensingRequest.instructorRatingsEndorsement"
              aria-describedby="instructorRatingsEndorsementHelp"
              placeholder="Type an instructor ratings endorsement..."></textarea>
          </div>
        </div>

        <div class="form-row mb-3">
          <div class="form-group col-md-6">
            <label for="instructorRatingsValidTill">Instructor Ratings Valid Till</label>
            <input type="date" class="form-control" id="instructorRatingsValidTill" name="instructorRatingsValidTill"
              [(ngModel)]="licensingRequest.instructorRatingsValidTill"
              aria-describedby="instructorRatingsValidTillHelp" placeholder="Instructor Ratings Valid Till">
          </div>
        </div>

        <div class="form-row mb-3">
          <div class="form-group col-md-12">
            <label for="endorsement">Endorsement</label>
            <textarea class="form-control" id="endorsement" name="endorsement"
              [(ngModel)]="licensingRequest.endorsement" aria-describedby="endorsementHelp"
              placeholder="Type an endorsement..."></textarea>
          </div>
        </div>

      </div>

      <h6 id="ratings" class="text-success lamp-pointer" data-toggle="collapse" href="#collapseRatings" role="button"
        aria-expanded="false" aria-controls="collapseRatings">Edit Ratings
        <hr>
      </h6>
      <div class="collapse" id="collapseRatings" aria-labelledby="ratings" data-parent="#licensingRequest">
        <div class="table-responsive mb-3">
          <table class="table table-hover">
            <thead class="thead-light">
              <tr>
                <th scope="col">
                  <button class="btn btn-sm btn-block btn-outline-success" type="button">Add New</button>
                </th>
                <th scope="col">Aircraft</th>
                <th scope="col">Drill</th>
                <th scope="col">Drill Date</th>
                <th scope="col">Valid Till</th>
                <th scope="col">
                  <button class="btn btn-sm btn-block btn-outline-success" type="button">Add New</button>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let history of [0, 1]; let i = index">
                <td>
                  <div class="btn-group btn-group-sm" role="group" aria-label="Actions">
                    <button class="btn btn-sm btn-outline-success rounded-circle mr-3" type="button">
                      <ion-icon name="ios-save"></ion-icon>
                    </button>
                    <button class="btn btn-sm btn-danger rounded-circle" type="button">
                      <ion-icon name="ios-trash"></ion-icon>
                    </button>
                  </div>
                </td>
                <td>
                  <select class="custom-select">
                    <option selected>Open this select menu</option>
                  </select>
                </td>
                <td>
                  <select class="custom-select">
                    <option selected>Open this select menu</option>
                  </select>
                </td>
                <td>
                  <input type="date" class="form-control form-control-sm" placeholder="Drill Date">
                </td>
                <td>
                  <input type="date" class="form-control form-control-sm" placeholder="Valid Till">
                </td>
                <td>
                  <div class="btn-group btn-group-sm" role="group" aria-label="Actions">
                    <button class="btn btn-sm btn-outline-success rounded-circle mr-3" type="button">
                      <ion-icon name="ios-save"></ion-icon>
                    </button>
                    <button class="btn btn-sm btn-danger rounded-circle" type="button">
                      <ion-icon name="ios-trash"></ion-icon>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="form-group custom-control custom-checkbox text-break">
              <input type="checkbox" class="custom-control-input" id="aerodomeControl" name="aerodomeControl"
                [(ngModel)]="licensingRequest.aerodomeControl" aria-describedby="endorsementHelp">
              <label class="custom-control-label" for="aerodomeControl">Aerodome Control</label>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group custom-control custom-checkbox text-break">
              <input type="checkbox" class="custom-control-input" id="approachControlProcedural"
                name="approachControlProcedural" [(ngModel)]="licensingRequest.approachControlProcedural"
                aria-describedby="endorsementHelp">
              <label class="custom-control-label" for="approachControlProcedural">Approach Control Procedural</label>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group custom-control custom-checkbox text-break">
              <input type="checkbox" class="custom-control-input" id="approachControlSurveillance"
                name="approachControlSurveillance" [(ngModel)]="licensingRequest.approachControlSurveillance"
                aria-describedby="endorsementHelp">
              <label class="custom-control-label" for="approachControlSurveillance">Approach Control
                Surveillance</label>
            </div>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-md-4">
            <div class="form-group custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="areaControlProcedural"
                name="areaControlProcedural" [(ngModel)]="licensingRequest.areaControlProcedural"
                aria-describedby="endorsementHelp">
              <label class="custom-control-label" for="areaControlProcedural">Area Control Procedural</label>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="areaControlSurveillance"
                name="areaControlSurveillance" [(ngModel)]="licensingRequest.areaControlSurveillance"
                aria-describedby="endorsementHelp">
              <label class="custom-control-label" for="areaControlSurveillance">Area Control Surveillance</label>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="precisionApproachRadar"
                name="precisionApproachRadar" [(ngModel)]="licensingRequest.precisionApproachRadar"
                aria-describedby="endorsementHelp">
              <label class="custom-control-label" for="precisionApproachRadar">Precision Approach Radar</label>
            </div>
          </div>
        </div>
      </div>

      <h6 id="limitations" class="text-success lamp-pointer" data-toggle="collapse" href="#collapseLimitations"
        role="button" aria-expanded="false" aria-controls="collapseLimitations">Edit Limitations
        <hr>
      </h6>
      <div class="collapse" id="collapseLimitations" aria-labelledby="limitations" data-parent="#licensingRequest">
        <div class="table-responsive mb-3">
          <table class="table table-hover">
            <thead class="thead-light">
              <tr>
                <th scope="col">Code</th>
                <th scope="col">Limitation</th>
                <th scope="col">
                  <button class="btn btn-sm btn-block btn-outline-success" type="button">Add New</button>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let history of [0]; let i = index">
                <td>
                  <select class="custom-select">
                    <option selected>Open this select menu</option>
                  </select>
                </td>
                <td>
                  NO LIMITATIONS, NO RESTRICTIONS.
                </td>
                <td>
                  <div class="btn-group btn-group-sm" role="group" aria-label="Actions">
                    <button class="btn btn-sm btn-outline-success rounded-circle mr-3" type="button">
                      <ion-icon name="ios-save"></ion-icon>
                    </button>
                    <button class="btn btn-sm btn-danger rounded-circle" type="button">
                      <ion-icon name="ios-trash"></ion-icon>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="card-footer text-right">
  <button type="button" class="btn btn-success">Generate License</button>
</div>