<div class="modal fade" id="addAircrew" tabindex="-1" role="dialog" aria-labelledby="addAircrewTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addAircrewTitle">Add Aircew</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #addAircrewForm="ngForm" novalidate>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="lastnameAircrew">Lastname</label>
              <input type="text" class="form-control" id="lastnameAircrew" name="lastname"
                [(ngModel)]="addAircrew.lastname" aria-describedby="lastnameHelpAircrew" placeholder="Lastname">
            </div>
            <div class="form-group col-md-6">
              <label for="firstnameAircrew">Firstname</label>
              <input type="text" class="form-control" id="firstnameAircrew" name="firstname"
                [(ngModel)]="addAircrew.firstname" aria-describedby="firstnameHelpAircrew" placeholder="Firstname">
            </div>
          </div>

          <div class="form-row mb-3">
            <div class="form-group col-md-6">
              <label for="otherNameAircrew">Other Name</label>
              <input type="text" class="form-control" id="otherNameAircrew" name="otherName"
                [(ngModel)]="addAircrew.otherName" aria-describedby="otherNameHelpAircrew" placeholder="Other Name">
            </div>
            <div class="form-group col-md-6">
              <label for="maidenNameAircrew">Maiden Name</label>
              <input type="text" class="form-control" id="maidenNameAircrew" name="maidenName"
                [(ngModel)]="addAircrew.maidenName" aria-describedby="maidenNameHelpAircrew" placeholder="Maiden Name">
            </div>
          </div>

          <div class="form-row mb-3">
            <div class="form-group col-md-6">
              <label for="emailAircrew">Email</label>
              <input type="email" class="form-control" id="emailAircrew" name="email" [(ngModel)]="addAircrew.email"
                aria-describedby="emailHelpAircrew" placeholder="Email">
            </div>
            <div class="form-group col-md-6">
              <label for="currentMobileAircrew">Current Mobile</label>
              <input type="tel" class="form-control" id="currentMobileAircrew" name="currentMobile"
                [(ngModel)]="addAircrew.currentMobile" aria-describedby="currentMobileHelpAircrew"
                placeholder="Current Mobile">
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="genderAircrew">Gender</label>
              <select class="custom-select" id="genderAircrew" name="gender" [(ngModel)]="addAircrew.gender"
                aria-describedby="genderHelpAircrew">
                <option selected>Open this select menu</option>
                <option value="1">Male</option>
                <option value="2">Female</option>
              </select>
            </div>
            <div class="form-group col-md-6">
              <label for="dateOfBirthAircrew">Date Of Birth</label>
              <input type="date" class="form-control" id="dateOfBirthAircrew" name="dateOfBirth"
                [(ngModel)]="addAircrew.dateOfBirth" aria-describedby="dateOfBirthHelpAircrew"
                placeholder="Date Of Birth">
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="birthPlaceAircrew">Birth Place</label>
              <input type="text" class="form-control" id="birthPlaceAircrew" name="birthPlace"
                [(ngModel)]="addAircrew.birthPlace" aria-describedby="birthPlaceHelpAircrew" placeholder="Birth Place">
            </div>
            <div class="form-group col-md-6">
              <label for="birthCountryAircrew">Birth Country</label>
              <select class="custom-select" id="birthCountryAircrew" name="birthCountry"
                [(ngModel)]="addAircrew.birthCountry" aria-describedby="birthCountryHelpAircrew">
                <option selected>Open this select menu</option>
                <option value="1">Nigeria</option>
              </select>
            </div>
          </div>

          <div class="form-row mb-3">
            <div class="form-group col-md-6">
              <label for="nationalityAircrew">Nationality</label>
              <select class="custom-select" id="nationalityAircrew" name="nationality"
                [(ngModel)]="addAircrew.nationality" aria-describedby="nationalityHelpAircrew">
                <option selected>Open this select menu</option>
                <option value="1">Nigerian</option>
              </select>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="permanentAddressAircrew">Permanent Address</label>
              <input type="text" class="form-control" id="permanentAddressAircrew" name="permanentAddress"
                [(ngModel)]="addAircrew.permanentAddress" aria-describedby="permanentAddressHelpAircrew"
                placeholder="Permanent Address">
            </div>
            <div class="form-group col-md-6">
              <label for="permanentAddressCountryAircrew">Permanent Address Country</label>
              <select class="custom-select" id="permanentAddressCountryAircrew" name="permanentAddressCountry"
                [(ngModel)]="addAircrew.permanentAddressCountry" aria-describedby="permanentAddressCountryHelpAircrew">
                <option selected>Open this select menu</option>
                <option value="1">Nigeria</option>
              </select>
            </div>
          </div>

          <div class="form-row mb-3">
            <div class="form-group col-md-6">
              <label for="permanentAddressPhoneAircrew">Permanent Address Phone</label>
              <input type="tel" class="form-control" id="permanentAddressPhoneAircrew" name="permanentAddressPhone"
                [(ngModel)]="addAircrew.permanentAddressPhone" aria-describedby="permanentAddressPhoneHelpAircrew"
                placeholder="Permanent Address Phone">
            </div>
          </div>

          <div class="form-row mb-3">
            <div class="form-group col-md-6">
              <label for="employerAircrew">Employer</label>
              <select class="custom-select" id="employerAircrew" name="employer" [(ngModel)]="addAircrew.employer"
                aria-describedby="employerHelpAircrew">
                <option selected>Open this select menu</option>
              </select>
            </div>
            <div class="form-group col-md-6">
              <label for="occupationAircrew">Occupation</label>
              <select class="custom-select" id="occupationAircrew" name="occupation" [(ngModel)]="addAircrew.occupation"
                aria-describedby="occupationHelpAircrew">
                <option selected>Open this select menu</option>
              </select>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-success">Add Aircew</button>
      </div>
    </div>
  </div>
</div>