<ul class="nav nav-pills card-header-pills float-right">
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['./request', requestId]" routerLinkActive="active">Request</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['./profile']" routerLinkActive="active">Profile</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['./timeline']" routerLinkActive="active">Timeline</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="aircrewMenu" role="button" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      <ion-icon name="md-more"></ion-icon>
    </a>

    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="aircrewMenu">
      <a class="dropdown-item" [routerLink]="['./merge']" routerLinkActive="active">Merge</a>
    </div>
  </li>
</ul>