<div class="list-group list-group-flush">
  <div class="list-group-item" *ngFor="let request of [0, 1, 2, 3, 4, 5]; let i = index">
    <div class="ph-item media">
      <div class="ph-avatar align-self-center mr-3" *ngIf="type !== 'request-history'"></div>
      <div class="media-body" style="flex: 1">
        <div class="ph-row" *ngIf="type !== 'request-history'">
          <div class="ph-col-10"></div>
        </div>
        <div class="ph-row" *ngIf="type !== 'aame'">
          <div class="ph-col-6" [ngClass]="{'mb-0': (type !== 'request' && type !== 'request-history')}"></div>
        </div>
        <div class="ph-row" *ngIf="type === 'request' || type === 'aame' || type === 'request-history'">
          <div class="ph-col-8 small mb-0"></div>
        </div>
      </div>
    </div>
  </div>
</div>