<div class="modal fade" id="addCertificate" tabindex="-1" role="dialog" aria-labelledby="addCertificateTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addCertificateitle">Add Certificate</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #addCertificateForm="ngForm" novalidate>
          <div class="form-row mb-3">
            <div class="form-group col-md-6">
              <label for="employerCertificate">Employer</label>
              <select class="custom-select" id="employerCertificate" name="employer"
                [(ngModel)]="addCertificate.employer" aria-describedby="employerHelpCertificate">
                <option selected>Open this select menu</option>
              </select>
            </div>
            <div class="form-group col-md-6">
              <label for="occupationCertificate">Occupation</label>
              <select class="custom-select" id="occupationCertificate" name="occupation"
                [(ngModel)]="addCertificate.occupation" aria-describedby="occupationHelpCertificate">
                <option selected>Open this select menu</option>
              </select>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="medicalTypeCertificate">Medical Type</label>
              <select class="custom-select" id="medicalTypeCertificate" name="medicalType"
                [(ngModel)]="addCertificate.medicalType" aria-describedby="medicalTypeHelpCertificate">
                <option selected>Open this select menu</option>
              </select>
            </div>
            <div class="form-group col-md-6">
              <label for="licenseTypeCertificate">License Type</label>
              <select class="custom-select" id="licenseTypeCertificate" name="licenseType"
                [(ngModel)]="addCertificate.licenseType" aria-describedby="licenseTypeHelpCertificate">
                <option selected>Open this select menu</option>
              </select>
            </div>
          </div>

          <div class="form-row mb-3">
            <div class="form-group col-md-6">
              <label for="issueTypeCertificate">Issue Type</label>
              <select class="custom-select" id="issueTypeCertificate" name="issueType"
                [(ngModel)]="addCertificate.issueType" aria-describedby="issueTypeHelpCertificate">
                <option selected>Open this select menu</option>
              </select>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="medicalAssessorCertificate">Medical Assessor</label>
              <select class="custom-select" id="medicalAssessorCertificate" name="medicalAssessor"
                [(ngModel)]="addCertificate.medicalAssessor" aria-describedby="medicalAssessorHelpCertificate">
                <option selected>Open this select menu</option>
              </select>
            </div>
            <div class="form-group col-md-6">
              <label for="aameCertificate">AAME</label>
              <select class="custom-select" id="aameCertificate" name="aame" [(ngModel)]="addCertificate.aame"
                aria-describedby="aameHelpCertificate">
                <option selected>Open this select menu</option>
              </select>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="examinationDateCertificate">Examination Date</label>
              <input type="date" class="form-control" id="examinationDateCertificate" name="examinationDate"
                [(ngModel)]="addCertificate.examinationDate" aria-describedby="examinationDateHelpCertificate"
                placeholder="Examination Date">
            </div>
            <div class="form-group col-md-6">
              <label for="receivedDateCertificate">Received Date</label>
              <input type="date" class="form-control" id="receivedDateCertificate" name="receivedDate"
                [(ngModel)]="addCertificate.receivedDate" aria-describedby="receivedDateHelpCertificate"
                placeholder="Received Date">
            </div>
          </div>

          <div class="form-row mb-3">
            <div class="form-group col-md-6">
              <label for="receivedFromCertificate">Received From</label>
              <input type="text" class="form-control" id="receivedFromCertificate" name="receivedFrom"
                [(ngModel)]="addCertificate.receivedFrom" aria-describedby="receivedFromHelpCertificate"
                placeholder="Received From">
            </div>
          </div>

          <div class="form-row mb-3">
            <div class="form-group col-md-12">
              <label for="limitationsCertificate">Limitations</label>
              <textarea class="form-control" id="limitationsCertificate" name="limitations"
                [(ngModel)]="addCertificate.limitations" aria-describedby="limitationsHelpCertificate"
                placeholder="Type limitations..."></textarea>
            </div>
          </div>

          <div class="form-row mb-3">
            <div class="form-group col-md-12">
              <label for="commentCertificate">Comment</label>
              <textarea class="form-control" id="commentCertificate" name="comment" [(ngModel)]="addCertificate.comment"
                aria-describedby="commentHelpCertificate" placeholder="Type a comment..."></textarea>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-success">Add Certificate</button>
      </div>
    </div>
  </div>
</div>