<div class="table-responsive">
  <div class="list-group list-group-horizontal-lg text-lg-center">
    <a [routerLink]="['./medical-application']" class="list-group-item list-group-item-action"
      routerLinkActive="active">
      <small>Medical App.</small>
    </a>
    <a [routerLink]="['./medical-report']" class="list-group-item list-group-item-action" routerLinkActive="active">
      <small>Medical Rpt.</small>
    </a>
    <a [routerLink]="['./otorhinolaryngology-report']" class="list-group-item list-group-item-action"
      routerLinkActive="active">
      <small>Otorhino. Rpt.</small>
    </a>
    <a [routerLink]="['./medical-attachments']" class="list-group-item list-group-item-action"
      routerLinkActive="active">
      <small>Medical Attach.</small>
    </a>
    <a [routerLink]="['./ophthalmology-report']" class="list-group-item list-group-item-action"
      routerLinkActive="active">
      <small>Ophthal. Rpt.</small>
    </a>
    <a [routerLink]="['./assessment-report']" class="list-group-item list-group-item-action" routerLinkActive="active">
      <small>Assessment Rpt.</small></a>
    <a [routerLink]="['./aame-error']" class="list-group-item list-group-item-action" routerLinkActive="active">
      <small>AAME Error</small>
    </a>
  </div>
</div>