<div class="card-body">
  <form #aameProfileForm="ngForm" novalidate>
    <h6 class="text-success">Edit Profile
      <hr>
    </h6>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="fullname">Fullname</label>
        <input type="text" class="form-control" id="fullname" name="fullname" [(ngModel)]="aameProfile.fullname"
          aria-describedby="fullnameHelp" placeholder="Fullname">
      </div>
      <div class="form-group col-md-6">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email" [(ngModel)]="aameProfile.email"
          aria-describedby="emailHelp" placeholder="Email">
      </div>
    </div>

    <div class="form-row mb-3">
      <div class="form-group col-md-6">
        <label for="phone">Phone</label>
        <input type="tel" class="form-control" id="phone" name="phone" [(ngModel)]="aameProfile.phone"
          aria-describedby="phoneHelp" placeholder="Phone">
      </div>
      <div class="form-group col-md-6">
        <label for="fax">Fax</label>
        <input type="tel" class="form-control" id="fax" name="fax" [(ngModel)]="aameProfile.fax"
          aria-describedby="faxHelp" placeholder="Fax">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="address">Address</label>
        <input type="text" class="form-control" id="address" name="address" [(ngModel)]="aameProfile.address"
          aria-describedby="addressHelp" placeholder="Address">
      </div>
      <div class="form-group col-md-6">
        <label for="country">Country</label>
        <select class="custom-select" id="country" name="country" [(ngModel)]="aameProfile.country"
          aria-describedby="countryHelp">
          <option selected>Open this select menu</option>
          <option value="1">Nigeria</option>
        </select>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="location">Location</label>
        <input type="text" class="form-control" id="location" name="location" [(ngModel)]="aameProfile.location"
          aria-describedby="locationHelp" placeholder="Location">
      </div>
      <div class="form-group col-md-6">
        <label for="hospitalName">Hospital Name</label>
        <input type="text" class="form-control" id="hospitalName" name="hospitalName"
          [(ngModel)]="aameProfile.hospitalName" aria-describedby="hospitalNameHelp" placeholder="Hospital Name">
      </div>
    </div>

    <div class="form-group custom-control custom-checkbox mb-3">
      <input type="checkbox" class="custom-control-input" id="currentlyActive" name="currentlyActive"
        [(ngModel)]="aameProfile.currentlyActive" aria-describedby="currentlyActiveHelp">
      <label class="custom-control-label" for="currentlyActive">Currently active</label>
    </div>

    <div class="row">
      <div class="col-md-6">
        <button type="submit" class="btn btn-block btn-success">Update</button>
      </div>
    </div>
  </form>
</div>