<div class="modal fade" id="changePassword" tabindex="-1" role="dialog" aria-labelledby="changePasswordTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="changePasswordTitle">Change Password</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #changePasswordForm="ngForm" novalidate>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="oldPassword">Old Password</label>
              <input type="password" class="form-control" id="oldPassword" name="oldPassword"
                [(ngModel)]="changePassword.oldPassword" aria-describedby="oldPasswordHelpAame"
                placeholder="Old Password">
            </div>
          </div>

          <div class="form-row mb-3">
            <div class="form-group col-md-6">
              <label for="newPassword">New Password</label>
              <input type="password" class="form-control" id="newPassword" name="newPassword"
                [(ngModel)]="changePassword.newPassword" aria-describedby="newPasswordHelpAame"
                placeholder="New Password">
            </div>
            <div class="form-group col-md-6">
              <label for="confirmPassword">Confirm Password</label>
              <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                [(ngModel)]="changePassword.confirmPassword" aria-describedby="confirmPasswordHelpAame"
                placeholder="Confirm Password">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-success">Change Password</button>
      </div>
    </div>
  </div>
</div>