<div class="card-body">
  <form #aircrewProfileForm="ngForm" novalidate>
    <h6 class="text-success">Edit Profile
      <hr>
    </h6>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="lastname">Lastname</label>
        <input type="text" class="form-control" id="lastname" name="lastname" [(ngModel)]="aircrewProfile.lastname"
          aria-describedby="lastnameHelp" placeholder="Lastname">
      </div>
      <div class="form-group col-md-6">
        <label for="firstname">Firstname</label>
        <input type="text" class="form-control" id="firstname" name="firstname" [(ngModel)]="aircrewProfile.firstname"
          aria-describedby="firstnameHelp" placeholder="Firstname">
      </div>
    </div>

    <div class="form-row mb-3">
      <div class="form-group col-md-6">
        <label for="otherName">Other Name</label>
        <input type="text" class="form-control" id="otherName" name="otherName" [(ngModel)]="aircrewProfile.otherName"
          aria-describedby="otherNameHelp" placeholder="Other Name">
      </div>
      <div class="form-group col-md-6">
        <label for="maidenName">Maiden Name</label>
        <input type="text" class="form-control" id="maidenName" name="maidenName"
          [(ngModel)]="aircrewProfile.maidenName" aria-describedby="maidenNameHelp" placeholder="Maiden Name">
      </div>
    </div>

    <div class="form-row mb-3">
      <div class="form-group col-md-6">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email" [(ngModel)]="aircrewProfile.email"
          aria-describedby="emailHelp" placeholder="Email">
      </div>
      <div class="form-group col-md-6">
        <label for="currentMobile">Current Mobile</label>
        <input type="tel" class="form-control" id="currentMobile" name="currentMobile"
          [(ngModel)]="aircrewProfile.currentMobile" aria-describedby="currentMobileHelp" placeholder="Current Mobile">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="gender">Gender</label>
        <select class="custom-select" id="gender" name="gender" [(ngModel)]="aircrewProfile.gender"
          aria-describedby="genderHelp">
          <option selected>Open this select menu</option>
          <option value="1">Male</option>
          <option value="2">Female</option>
        </select>
      </div>
      <div class="form-group col-md-6">
        <label for="dateOfBirth">Date Of Birth</label>
        <input type="date" class="form-control" id="dateOfBirth" name="dateOfBirth"
          [(ngModel)]="aircrewProfile.dateOfBirth" aria-describedby="dateOfBirthHelp" placeholder="Date Of Birth">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="birthPlace">Birth Place</label>
        <input type="text" class="form-control" id="birthPlace" name="birthPlace"
          [(ngModel)]="aircrewProfile.birthPlace" aria-describedby="birthPlaceHelp" placeholder="Birth Place">
      </div>
      <div class="form-group col-md-6">
        <label for="birthCountry">Birth Country</label>
        <select class="custom-select" id="birthCountry" name="birthCountry" [(ngModel)]="aircrewProfile.birthCountry"
          aria-describedby="birthCountryHelp">
          <option selected>Open this select menu</option>
          <option value="1">Nigeria</option>
        </select>
      </div>
    </div>

    <div class="form-row mb-3">
      <div class="form-group col-md-6">
        <label for="nationality">Nationality</label>
        <select class="custom-select" id="nationality" name="nationality" [(ngModel)]="aircrewProfile.nationality"
          aria-describedby="nationalityHelp">
          <option selected>Open this select menu</option>
          <option value="1">Nigerian</option>
        </select>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="permanentAddress">Permanent Address</label>
        <input type="text" class="form-control" id="permanentAddress" name="permanentAddress"
          [(ngModel)]="aircrewProfile.permanentAddress" aria-describedby="permanentAddressHelp"
          placeholder="Permanent Address">
      </div>
      <div class="form-group col-md-6">
        <label for="permanentAddressCountry">Permanent Address Country</label>
        <select class="custom-select" id="permanentAddressCountry" name="permanentAddressCountry"
          [(ngModel)]="aircrewProfile.permanentAddressCountry" aria-describedby="permanentAddressCountryHelp">
          <option selected>Open this select menu</option>
          <option value="1">Nigeria</option>
        </select>
      </div>
    </div>

    <div class="form-row mb-3">
      <div class="form-group col-md-6">
        <label for="permanentAddressPhone">Permanent Address Phone</label>
        <input type="tel" class="form-control" id="permanentAddressPhone" name="permanentAddressPhone"
          [(ngModel)]="aircrewProfile.permanentAddressPhone" aria-describedby="permanentAddressPhoneHelp"
          placeholder="Permanent Address Phone">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="postalAddress">Postal Address</label>
        <input type="text" class="form-control" id="postalAddress" name="postalAddress"
          [(ngModel)]="aircrewProfile.postalAddress" aria-describedby="postalAddressHelp" placeholder="Postal Address">
      </div>
      <div class="form-group col-md-6">
        <label for="postalAddressCountry">Postal Address Country</label>
        <select class="custom-select" id="postalAddressCountry" name="postalAddressCountry"
          [(ngModel)]="aircrewProfile.postalAddressCountry" aria-describedby="postalAddressCountryHelp">
          <option selected>Open this select menu</option>
          <option value="1">Nigeria</option>
        </select>
      </div>
    </div>

    <div class="form-row mb-3">
      <div class="form-group col-md-6">
        <label for="postalAddressPhone">Postal Address Phone</label>
        <input type="tel" class="form-control" id="postalAddressPhone" name="postalAddressPhone"
          [(ngModel)]="aircrewProfile.postalAddressPhone" aria-describedby="postalAddressPhoneHelp"
          placeholder="Postal Address Phone">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="employer">Employer</label>
        <select class="custom-select" id="employer" name="employer" [(ngModel)]="aircrewProfile.employer"
          aria-describedby="employerHelp">
          <option selected>Open this select menu</option>
        </select>
      </div>
      <div class="form-group col-md-6">
        <label for="occupation">Occupation</label>
        <select class="custom-select" id="occupation" name="occupation" [(ngModel)]="aircrewProfile.occupation"
          aria-describedby="occupationHelp">
          <option selected>Open this select menu</option>
        </select>
      </div>
    </div>

    <div class="form-row mb-3">
      <div class="form-group col-md-6">
        <label for="businessPhone">Business Phone</label>
        <input type="tel" class="form-control" id="businessPhone" name="businessPhone"
          [(ngModel)]="aircrewProfile.businessPhone" aria-describedby="businessPhoneHelp" placeholder="Business Phone">
      </div>
      <div class="form-group col-md-6">
        <label for="employmentStatus">Employment Status</label>
        <select class="custom-select" id="employmentStatus" name="employmentStatus"
          [(ngModel)]="aircrewProfile.employmentStatus" aria-describedby="employmentStatusHelp">
          <option selected>Open this select menu</option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <button type="submit" class="btn btn-block btn-success">Update</button>
      </div>
    </div>
  </form>
</div>