<div class="card my-2 shadow-sm text-center">
  <div class="card-header">
    <img [src]="'/assets/user.jpeg' || 'assets/user.svg'" class="lamp-photo rounded-circle" alt="History">
  </div>

  <div class="card-body">
    <p class="font-weight-bold m-0">Ibukun Dairo {{ profile }}</p>
    <small>ibukun.o.dairo@gmail.com</small>
  </div>
</div>