<div class="row">
  <div class="col-md-12 col-lg-9">
    <div class="card my-2 shadow-sm lamp-sticky-top">
      <div class="card-header">
        <ul class="nav nav-pills card-header-pills float-right">
          <li class="nav-item">
            <a class="nav-link">Profile</a>
          </li>
        </ul>
      </div>

      <app-aame-profile></app-aame-profile>
    </div>
  </div>
  <div class="col-lg-3 d-lg-block d-none">
    <app-profile-preview [profile]="personnel?.profile"></app-profile-preview>
  </div>
</div>