<div class="intro-page">
  <div class="container d-flex flex-wrap align-items-center justify-content-center py-2">
    <div class="left rounded d-flex flex-column align-items-center justify-content-center">
      <img src="/assets/placeholder.svg" class="lamp-placeholder" alt="Not found">
    </div>
    <div class="right rounded">
      <h3 class="font-weight-bold mb-5">Sign In</h3>

      <form #introForm="ngForm" novalidate (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="phone">Phone</label>
          <input type="tel" class="form-control form-control-lg" id="phone" name="phone" [(ngModel)]="intro.phone"
            aria-describedby="phoneHelp" placeholder="Phone" required>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control form-control-lg" id="password" name="password"
            [(ngModel)]="intro.password" aria-describedby="passwordHelp" placeholder="Password" required>
        </div>

        <div class="form-group custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="remember" name="remember" [(ngModel)]="intro.remember"
            aria-describedby="rememberHelp">
          <label class="custom-control-label" for="remember">Remember me</label>
        </div>

        <button type="submit" class="btn btn-block btn-lg btn-success" [disabled]="!introForm.form.valid">
          <span *ngIf="!loading">Login</span>
          <span class="spinner-border spinner-border-sm text-light" role="status" aria-hidden="true"
            *ngIf="loading"></span>
        </button>
      </form>
    </div>
  </div>
</div>