<div class="row">
  <div class="col-md-12 col-lg-9">
    <div class="card my-2 shadow-sm lamp-sticky-top">
      <div class="card-header">
        <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#addLicense">Add
          License</button>

        <app-aircrew-navigation [request-id]="requestId"></app-aircrew-navigation>
      </div>

      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="col-lg-3 d-lg-block d-none">
    <app-profile-preview [profile]="aircrewId"></app-profile-preview>

    <app-request-history></app-request-history>
  </div>
</div>