<div class="modal fade" id="addAame" tabindex="-1" role="dialog" aria-labelledby="addAameTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addAameTitle">Add AAME</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #addAameForm="ngForm" novalidate>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="fullnameAame">Fullname</label>
              <input type="text" class="form-control" id="fullnameAame" name="fullname" [(ngModel)]="addAame.fullname"
                aria-describedby="fullnameHelpAame" placeholder="Fullname">
            </div>
            <div class="form-group col-md-6">
              <label for="emailAame">Email</label>
              <input type="email" class="form-control" id="emailAame" name="email" [(ngModel)]="addAame.email"
                aria-describedby="emailHelpAame" placeholder="Email">
            </div>
          </div>

          <div class="form-row mb-3">
            <div class="form-group col-md-6">
              <label for="phoneAame">Phone</label>
              <input type="tel" class="form-control" id="phoneAame" name="phone" [(ngModel)]="addAame.phone"
                aria-describedby="phoneHelpAame" placeholder="Phone">
            </div>
            <div class="form-group col-md-6">
              <label for="faxAame">Fax</label>
              <input type="tel" class="form-control" id="faxAame" name="fax" [(ngModel)]="addAame.fax"
                aria-describedby="faxHelpAame" placeholder="Fax">
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="addressAame">Address</label>
              <input type="text" class="form-control" id="addressAame" name="address" [(ngModel)]="addAame.address"
                aria-describedby="addressHelpAame" placeholder="Address">
            </div>
            <div class="form-group col-md-6">
              <label for="countryAame">Country</label>
              <select class="custom-select" id="countryAame" name="country" [(ngModel)]="addAame.country"
                aria-describedby="countryHelpAame">
                <option selected>Open this select menu</option>
                <option value="1">Nigeria</option>
              </select>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="locationAame">Location</label>
              <input type="text" class="form-control" id="locationAame" name="location" [(ngModel)]="addAame.location"
                aria-describedby="locationHelpAame" placeholder="Location">
            </div>
            <div class="form-group col-md-6">
              <label for="hospitalNameAame">Hospital Name</label>
              <input type="text" class="form-control" id="hospitalNameAame" name="hospitalName"
                [(ngModel)]="addAame.hospitalName" aria-describedby="hospitalNameHelpAame" placeholder="Hospital Name">
            </div>
          </div>

          <div class="form-group custom-control custom-checkbox mb-3">
            <input type="checkbox" class="custom-control-input" id="currentlyActiveAame" name="currentlyActive"
              [(ngModel)]="addAame.currentlyActive" aria-describedby="currentlyActiveHelpAame">
            <label class="custom-control-label" for="currentlyActive">Currently active</label>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-success">Add AAME</button>
      </div>
    </div>
  </div>
</div>