<div class="card-body">
  <h6 class="text-success">Edit Medical Report</h6>
  <hr>

  <form #medicalReportForm="ngForm">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="examinationCategory">Examination Category</label>
        <select class="custom-select" id="examinationCategory" name="examinationCategory" [(ngModel)]="medicalReport.examinationCategory"
          aria-describedby="examinationCategoryHelp">
          <option selected>Open this select menu</option>
        </select>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="height">Height (cm)</label>
        <input type="text" class="form-control" id="height" name="height" [(ngModel)]="medicalReport.height"
          placeholder="Height">
      </div>
      <div class="form-group col-md-6">
        <label for="weight">Weight (kg)</label>
        <input type="text" class="form-control" id="weight" name="weight" [(ngModel)]="medicalReport.weight" placeholder="Weight">
      </div>
    </div>

    <!-- <div class="form-row">
    <div class="form-group">
  </div> -->

    <div class="form-row">
      <div class="form-group col-md-6">
      <label for="eyeColour">Eye Colour</label>
      <input type="text" class="form-control" id="eyecolour" name="eyeColour" [(ngModel)]="medicalReport.eyeColour" placeholder="Eye Colour">
    </div>

    <div class="form-group col-md-6">
      <label for="hairColour">Hair Colour</label>
      <input type="text" class="form-control" id="haircolour" name="hairColour" [(ngModel)]="medicalReport.hairColour" placeholder="Hair Colour" value="">
    </div></div>

    <p><strong>Pressure (When Seated)</strong></p>
      <div class="form-row">
        <div class="form-group col-md-6">
        <label for="bloodPressureSysiotic">Systolic:</label>
        <input type="text" class="form-control" id="bloodPressureSysiotic" name="bloodPressureSysiotic" [(ngModel)]="medicalReport.bloodPressureSysiotic" placeholder="Systolic">
      </div>
      <div class="form-group col-md-6">
          <label for="bloodPressureDiastolic">Diastolic:</label>
        <input type="text" class="form-control" id="bloodPressureDiastolic" name="bloodPressureDiastolic" [(ngModel)]="medicalReport.bloodPressureDiastolic" placeholder="eg Diastolic">
      </div>
    </div>

    <p><strong>Pulse (When Resting)</strong></p>
       <div class="form-row">
         <div class="form-group col-md-6">
        <label for="pulseRestingRate">Rate:</label>
        <input type="text" class="form-control" id="pulseRestingRate" name="pulseRestingRate" [(ngModel)]="medicalReport.pulseRestingRate" placeholder="Rate">
      </div>
      <div class="form-group col-md-6">
        <label for="pulseRestingRythm">Rhythm:</label>
        <input type="text" class="form-control" id="pulseRestingRythm" name="pulseRestingRythm" [(ngModel)]="medicalReport.pulseRestingRythm" placeholder="Rhythm">
      </div></div>
      <div class="form-row">
        <div class="form-group col-md-6">
        <label for="bodyMassIndex">Body Mass Index:</label>
        <input type="text" class="form-control" id="bodyMassIndex" name="bodyMassIndex" [(ngModel)]="medicalReport.bodyMassIndex" placeholder="Value">
      </div>
    </div>

    <p><em>Were any of the following clinical examinations conducted? <strong>CHECK if
          YES</strong>. Elaborate <strong>YES</strong> answers in the Notes section
        below.</em></p>
        
        <div class="row">
          <div class="col-md-4">
            <div class="form-group custom-control custom-checkbox text-break">
              <input type="checkbox" class="custom-control-input" [(ngModel)]="medicalReport.headFaceNeckScalp" id="headFaceNeckScalp">
              <label class="custom-control-label" for="headFaceNeckScalp">Head, Neck, Face, Scalp</label>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group custom-control custom-checkbox text-break">
              <input type="checkbox" class="custom-control-input" [(ngModel)]="medicalReport.mouthThroatTeeth" id="mouthThroatTeeth">
              <label class="custom-control-label" for="mouthThroatTeeth">Mouth, Throat, Teeth</label>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group custom-control custom-checkbox text-break">
              <input type="checkbox" class="custom-control-input" [(ngModel)]="medicalReport.noseSinuses" id="noseSinuses">
              <label class="custom-control-label" for="noseSinuses">Nose, Sinuses</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group custom-control custom-checkbox text-break">
              <input type="checkbox" class="custom-control-input" [(ngModel)]="medicalReport.earsDrumwEardrumMotility" id="earsDrumwEardrumMotility">
              <label class="custom-control-label" for="earsDrumwEardrumMotility">Ears, ear drum motility</label>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group custom-control custom-checkbox text-break">
              <input type="checkbox" class="custom-control-input" [(ngModel)]="medicalReport.eyesOrbitAdnexaVisualFields" id="eyesOrbitAdnexaVisualFields">
              <label class="custom-control-label" for="eyesOrbitAdnexaVisualFields"> Eyes orbit &amp; adnexa: visual
                flds</label>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group custom-control custom-checkbox text-break">
              <input type="checkbox" class="custom-control-input" [(ngModel)]="medicalReport.EyesPupilsAndOpticFundi" id="EyesPupilsAndOpticFundi">
              <label class="custom-control-label" for="EyesPupilsAndOpticFundi">Eyes-pupils and optic fundi</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group custom-control custom-checkbox text-break">
              <input type="checkbox" class="custom-control-input" [(ngModel)]="medicalReport.EyesOcularMotility" id="EyesOcularMotility">
              <label class="custom-control-label" for="EyesOcularMotility">Eyes-ocular motility: nystagmus</label>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group custom-control custom-checkbox text-break">
              <input type="checkbox" class="custom-control-input" [(ngModel)]="medicalReport.LungsChestBreasts" id="LungsChestBreasts">
              <label class="custom-control-label" for="LungsChestBreasts">Lungs, chest, breasts</label>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group custom-control custom-checkbox text-break">
              <input type="checkbox" class="custom-control-input" [(ngModel)]="medicalReport.Heart" id="Heart">
              <label class="custom-control-label" for="Heart">Heart</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group custom-control custom-checkbox text-break">
              <input type="checkbox" class="custom-control-input" [(ngModel)]="medicalReport.VascularSystem" id="VascularSystem">
              <label class="custom-control-label" for="VascularSystem">Vascular system</label>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group custom-control custom-checkbox text-break">
              <input type="checkbox" class="custom-control-input" [(ngModel)]="medicalReport.AbdomenHerniaLiverSpleen" id="AbdomenHerniaLiverSpleen">
              <label class="custom-control-label" for="AbdomenHerniaLiverSpleen">Abdomen, Hernia, liver, spleen</label>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group custom-control custom-checkbox text-break">
              <input type="checkbox" class="custom-control-input" [(ngModel)]="medicalReport.AnusRectum" id="AnusRectum">
              <label class="custom-control-label" for="AnusRectum">Anus, rectum</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group custom-control custom-checkbox text-break">
              <input type="checkbox" class="custom-control-input" [(ngModel)]="medicalReport.GenitoUrinarySystem" id="GenitoUrinarySystem">
              <label class="custom-control-label" for="GenitoUrinarySystem">Genito-urinary system</label>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group custom-control custom-checkbox text-break">
              <input type="checkbox" class="custom-control-input" [(ngModel)]="medicalReport.EndocrineSystem" id="EndocrineSystem">
              <label class="custom-control-label" for="EndocrineSystem">Endocrine system</label>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group custom-control custom-checkbox text-break">
              <input type="checkbox" class="custom-control-input" [(ngModel)]="medicalReport.UpperLowerLimbsJoints" id="UpperLowerLimbsJoints">
              <label class="custom-control-label" for="UpperLowerLimbsJoints">Upper &amp; lower limbs, Joints</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group custom-control custom-checkbox text-break">
              <input type="checkbox" class="custom-control-input" [(ngModel)]="medicalReport.SpineOtherMuscloskeletal" id="SpineOtherMuscloskeletal">
              <label class="custom-control-label" for="SpineOtherMuscloskeletal">Spine / Other musculoskeletal</label>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group custom-control custom-checkbox text-break">
              <input type="checkbox" class="custom-control-input" [(ngModel)]="medicalReport.NeurologicReflexes" id="NeurologicReflexes">
              <label class="custom-control-label" for="NeurologicReflexes">Neurologic - Reflexes, etc</label>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group custom-control custom-checkbox text-break">
              <input type="checkbox" class="custom-control-input" [(ngModel)]="medicalReport.Psychiatric" id="Psychiatric">
              <label class="custom-control-label" for="Psychiatric">Psychiatric</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group custom-control custom-checkbox text-break">
              <input type="checkbox" class="custom-control-input" [(ngModel)]="medicalReport.SkinIdentifyingMarksAndLymphatics" id="SkinIdentifyingMarksAndLymphatics">
              <label class="custom-control-label" for="SkinIdentifyingMarksAndLymphatics">Skin, Identifying marks &
                Lymphatics</label>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group custom-control custom-checkbox text-break">
              <input type="checkbox" class="custom-control-input" [(ngModel)]="medicalReport.GeneralSystemic" id="GeneralSystemic">
              <label class="custom-control-label" for="GeneralSystemic">General systemic</label>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group custom-control custom-checkbox text-break">
              <input type="checkbox" class="custom-control-input" [(ngModel)]="medicalReport.PsychometricTest" id="PsychometricTest">
              <label class="custom-control-label" for="PsychometricTest">Psychometric Test taken?</label>
            </div>
          </div>
        </div>
    <div class="form-row">
      <div class="form-group col-md-12">
      <label for="Notes"> Notes</label>
      <textarea name="Notes" class="form-control" [(ngModel)]="medicalReport.Notes" id="Notes" 
        placeholder="Describe every abnormal finding. Enter item number before each comment, and each item on a separate paragraph."></textarea>
    </div></div>

    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="PsychometricTestDate">Psychometric Test Date</label>
        <input type="date" class="form-control" [(ngModel)]="medicalReport.PsychometricTestDate" id="PsychometricTestDate" name="PsychometricTestDate"
          [(ngModel)]="medicalReport.PsychometricTestDate" aria-describedby="PsychometricTestDateHelp"
          placeholder="Psychometric Test Date">
      </div>
    </div>

   <p><strong>Distant vision (at 5 to 6m)</strong></p>
  <div class="row">
    <div class=" col-md-3">
      Right Eye
    </div>
    <div class=" col-md-3"></div>
    <div class="col-md-3">
      <strong>Spectacles</strong>
    </div>
    <div class="col-md-3">
      <strong>Contact Lens</strong>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-3"><input type="text" name="DistantVisionRightEyeValue" [(ngModel)]="medicalReport.DistantVisionRightEyeValue" placeholder="value" value="">
    </div>
    <div class="col-md-3">
      corrected to:
    </div>
    <div class=" col-md-3">
      <input type="text" name="DistantVisionRightEyeCorrectedSpectacle" [(ngModel)]="medicalReport.DistantVisionRightEyeCorrectedSpectacle"  placeholder="value" value="" size="20">
    </div>
    <div class=" col-md-3">
      <input type="text" name="DistantVisionRightEyeCorrectedContactLens" [(ngModel)]="medicalReport.DistantVisionRightEyeCorrectedContactLens" placeholder="value" value=""> </div>
  </div>
  <div class="row">
    <div class=" col-md-3">
      Left Eye
    </div>
    <div class=" col-md-3"></div>
    <div class="col-md-3">
      <strong>Spectacles</strong>
    </div>
    <div class="col-md-3">
      <strong>Contact Lens</strong>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-3"><input type="text" name="DistantVisionLeftEyeValue" [(ngModel)]="medicalReport.DistantVisionLeftEyeValue" placeholder="value" value="">
    </div>
    <div class="col-md-3">
      corrected to:
    </div>
    <div class=" col-md-3">
      <input type="text" name="DistantVisionLeftEyeCorrectedSpectacle" [(ngModel)]="medicalReport.DistantVisionLeftEyeCorrectedSpectacle" placeholder="value" value="">
    </div>
    <div class=" col-md-3">
      <input type="text" name="DistantVisionLeftEyeCorrectedContactLens" [(ngModel)]="medicalReport.DistantVisionLeftEyeCorrectedContactLens" placeholder="value" value=""> </div>
  </div>  
  <div class="row">
    <div class=" col-md-3">
      Both Eyes
    </div>
    <div class=" col-md-3"></div>
    <div class="col-md-3">
      <strong>Spectacles</strong>
    </div>
    <div class="col-md-3">
      <strong>Contact Lens</strong>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-3"><input type="text" name="DistantVisionBothEyesValue" [(ngModel)]="medicalReport.DistantVisionBothEyesValue" placeholder="value" value="">
    </div>
    <div class="col-md-3">
      corrected to:
    </div>
    <div class=" col-md-3">
      <input type="text" name="DistantVisionBothEyesCorrectedSpectacle" [(ngModel)]="medicalReport.DistantVisionBothEyesCorrectedSpectacle" placeholder="value" value="">
    </div>
    <div class=" col-md-3">
      <input type="text" name="DistantVisionBothEyesCorrectedContactLens" [(ngModel)]="medicalReport.DistantVisionBothEyesCorrectedContactLens" placeholder="value" value=""> </div>
  </div>  <p><strong>Intermediate vision N14 (at 100cm)</strong></p>
    <div class="form-row">
      <div class="col-md-4">
        <label for="rightEye">Right Eye:</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <label class="btn radio-inline btn-radio-default-inverse active">
          <input type="radio" name="IntermediateVisionRightEyeCorrected" [(ngModel)]="medicalReport.IntermediateVisionRightEyeCorrected" id="IntermediateVisionRightEyeCorrected[]"
            value="0" checked="checked">
          Uncorrected
        </label><br />
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <label class="btn radio-inline btn-radio-default-inverse">
          <input type="radio" name="IntermediateVisionRightEyeCorrected" [(ngModel)]="medicalReport.IntermediateVisionRightEyeCorrected" id="IntermediateVisionRightEyeCorrected[]"
            value="1"> Corrected
        </label>
      </div>
      <div class="col-md-4">
        Corrected from <input type="text" class="item-element med-input" name="IntermediateVisionRightEyeValueFrom" [(ngModel)]="medicalReport.IntermediateVisionRightEyeValueFrom"
          placeholder="corrected from" value="">
      </div>
      <div class="col-md-4">
       Corrected To <input type="text" class="item-element med-input" name="IntermediateVisionRightEyeValue" [(ngModel)]="medicalReport.IntermediateVisionRightEyeValue"
          placeholder="corrected to" value="">
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-4">
        <label for="rightEye">Left Eye:</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <label class="btn radio-inline btn-radio-default-inverse active">
          <input type="radio" name="IntermediateVisionLeftEyeCorrected" [(ngModel)]="medicalReport.IntermediateVisionLeftEyeCorrected" id="IntermediateVisionLeftEyeCorrected[]" value="0"
            checked="checked">
          Uncorrected
        </label>
        <br />
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <label class="btn radio-inline btn-radio-default-inverse">
          <input type="radio" name="IntermediateVisionLeftEyeCorrected" [(ngModel)]="medicalReport.IntermediateVisionLeftEyeCorrected" id="IntermediateVisionLeftEyeCorrected[]" value="1">
          Corrected
        </label>
      </div>
      <div class="col-md-4">
        Corrected from <input type="text" class="item-element med-input" name="IntermediateVisionLeftEyeValueFrom" [(ngModel)]="medicalReport.IntermediateVisionLeftEyeValueFrom"
          placeholder="corrected from" value=""></div>
      <div class="col-md-4">
        Corrected To <input type="text" class="item-element med-input" name="IntermediateVisionLeftEyeValue" [(ngModel)]="medicalReport.IntermediateVisionLeftEyeValue"
          placeholder="corrected to" value="">
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-4">
        <label for="rightEye">Both Eyes:</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <label class="btn radio-inline btn-radio-default-inverse active">
          <input type="radio" name="IntermediateVisionBothEyeCorrected" [(ngModel)]="medicalReport.IntermediateVisionBothEyeCorrected" id="IntermediateVisionBothEyeCorrected[]"
            checked="checked">
          Uncorrected
        </label>
        <br />
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <label class="btn radio-inline btn-radio-default-inverse">
          <input type="radio" name="IntermediateVisionBothEyeCorrected" [(ngModel)]="medicalReport.IntermediateVisionBothEyeCorrected" id="IntermediateVisionBothEyeCorrected[]" value="1">
          Corrected
        </label>
      </div>
      <div class="col-md-4">
        Corrected from <input type="text" class="item-element med-input" name="IntermediateVisionBothEyeValueFrom" [(ngModel)]="medicalReport.IntermediateVisionBothEyeValueFrom"
          placeholder="corrected from"></div>
      <div class="col-md-4">
        Corrected To <input type="text" class="item-element med-input" name="IntermediateVisionBothEyeValue" [(ngModel)]="medicalReport.IntermediateVisionBothEyeValue"
          placeholder="corrected to">
      </div>
    </div> 
    <p><strong>Near vision N5 (at 30 - 50cm)</strong></p>
    <div class="form-row">
      <div class="col-md-4">
        <label for="rightEye">Right Eye:</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <label class="btn radio-inline btn-radio-default-inverse active">
          <input type="radio" class="item-element med-input" name="NearVisionRightEyeCorrected" [(ngModel)]="medicalReport.NearVisionRightEyeCorrected"
            id="NearVisionRightEyeCorrected[]" value="0" checked="checked"> Uncorrected
        </label>
        <br />
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <label class="btn radio-inline btn-radio-default-inverse">
          <input type="radio" class="item-element med-input" name="NearVisionRightEyeCorrected" [(ngModel)]="medicalReport.NearVisionRightEyeCorrected"
            id="NearVisionRightEyeCorrected[]" value="1">
          Corrected
        </label>
      </div>
      <div class="col-md-4">
        Corrected from <input type="text" class="item-element med-input" name="NearVisionRightEyeValueFrom" [(ngModel)]="medicalReport.NearVisionRightEyeValueFrom"
          placeholder="corrected from" value=""></div>
      <div class="col-md-4">
        Corrected To <input type="text" class="item-element med-input" name="NearVisionRightEyeValue" [(ngModel)]="medicalReport.NearVisionRightEyeValue"
          placeholder="corrected to" value="">
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-4">
        <label for="rightEye">Left Eye:</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <label class="btn radio-inline btn-radio-default-inverse active">
          <input type="radio" class="item-element med-input" name="NearVisionLeftEyeCorrected" [(ngModel)]="medicalReport.NearVisionLeftEyeCorrected"
            id="NearVisionLeftEyeCorrected[]" value="0" checked="checked"> Uncorrected
        </label>
        <br />
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <label class="btn radio-inline btn-radio-default-inverse">
          <input type="radio" class="item-element med-input" name="NearVisionLeftEyeCorrected" [(ngModel)]="medicalReport.NearVisionLeftEyeCorrected"
            id="NearVisionLeftEyeCorrected[]" value="1">
          Corrected
        </label>
      </div>
      <div class="col-md-4">
        Corrected from <input type="text" class="item-element med-input" name="NearVisionLeftEyeValueFrom" [(ngModel)]="medicalReport.NearVisionLeftEyeValueFrom"
          placeholder="corrected from" value=""></div>
      <div class="col-md-4">
        Corrected To <input type="text" class="item-element med-input" name="NearVisionLeftEyeValue" [(ngModel)]="medicalReport.NearVisionLeftEyeValue"
          placeholder="corrected to" value="">
      </div>
    </div>
    <div class="form-row">
        <div class="col-md-4">
          <label for="rightEye">Both Eyes:</label>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
            <label class="btn radio-inline btn-radio-default-inverse active">
                <input type="radio" name="NearVisionBothEyeCorrected" id="NearVisionBothEyeCorrected[]" value="0"
                  checked="checked"> Uncorrected
              </label>
              <br />
          </div>
      </div>
      <div class="row">
        <div class="col-md-4">
            <label class="btn radio-inline btn-radio-default-inverse">
                <input type="radio" name="NearVisionBothEyeCorrected" [(ngModel)]="medicalReport.NearVisionBothEyeCorrected" id="NearVisionBothEyeCorrected[]" value="1">
                Corrected
              </label>
          </div>
        <div class="col-md-4">
            Corrected from <input type="text" class="item-element med-input" name="NearVisionBothEyeValueFrom" [(ngModel)]="medicalReport.NearVisionBothEyeValueFrom"
            placeholder="corrected from" value=""></div>
        <div class="col-md-4">
          Corrected To <input type="text" class="item-element med-input" name="NearVisionBothEyeValue" [(ngModel)]="medicalReport.NearVisionBothEyeValue"
          placeholder="corrected to" value="">
        </div>
      </div>
    <p><strong>Spectacle / Type Of Spectacle</strong></p>
    <div class="row">
      <div class="col-md-4">
        <label class="btn radio-inline btn-radio-default-inverse active">
          <input type="radio" name="Spectacle" [(ngModel)]="medicalReport.Spectacle" id="Spectacle[]" value="0" checked="checked">
          No
        </label>
        <br />
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <label class="btn radio-inline btn-radio-default-inverse">
          <input type="radio" name="Spectacle " [(ngModel)]="medicalReport.Spectacle" id="Spectacle[]" value="1"> Yes
        </label>
      </div>
      <div class="col-md-4">
        <input type="text" class="item-element med-input" value="" name="SpectacleType" [(ngModel)]="medicalReport.SpectacleType" placeholder="Enter type value">
      </div>
    </div>

    <p><strong>Lens / Type of Lens Description</strong></p>
    <div class="row">
        <div class="col-md-4">
            <label class="btn radio-inline btn-radio-default-inverse active">
                <input type="radio" name="ContactLens" [(ngModel)]="medicalReport.ContactLens" id="ContactLens[]" checked="checked" value="0"> No
              </label>
            <br />
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <label class="btn radio-inline btn-radio-default-inverse">
            <input type="radio" name="ContactLens" [(ngModel)]="medicalReport.ContactLens"  id="ContactLens[]" value="1"> Yes
          </label>
        </div>
        <div class="col-md-4">
          <input type="text" class="item-element med-input" value="" name="ContactLensType" [(ngModel)]="medicalReport.ContactLensType"
            placeholder="Type of Contact Lens">
        </div>
      </div><br>
      
    <p><strong>Hearing Tests</strong></p>
    <div class="row">
      <div class="col-md-4">
        (Please <strong>CHECK</strong> for YES)
      </div>
      <div class="col-md-4">
        <strong>Right Ear</strong>
      </div>
      <div class="col-md-4">
        <strong>Left Ear</strong>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        Conversation Voice test at 2m (back turned to examiner)
      </div><br>
      <div class="col-md-4">
        <label class="btn checkbox-inline btn-checkbox-inverse active"><input type="checkbox" name="Hearing2MTestRightEar" [(ngModel)]="medicalReport.Hearing2MTestRightEar"
            id="Hearing2MTestRightEar" value="1" checked="checked"></label>
      </div><br>
      <div class="col-md-4">
        <label class="btn checkbox-inline btn-checkbox-inverse active"><input type="checkbox" name="Hearing2MTestLeftEar" [(ngModel)]="medicalReport.Hearing2MTestLeftEar"
            id="Hearing2MTestLeftEar" value="1" checked="checked"></label>
      </div><br>
    </div>
    <div class="row">
        <div class="col-md-4">
            Forced at 6m (whisper)
        </div>
        <div class="col-md-4">
            <label class="btn checkbox-inline btn-checkbox-inverse active"><input
              type="checkbox" name="Hearing6MTestRightEar" [(ngModel)]="medicalReport.Hearing6MTestRightEar" id="Hearing6MTestRightEar" value="1"
              checked='checked'></label>
             </div>
        <div class="col-md-4">
            <label class="btn checkbox-inline btn-checkbox-inverse active"><input
              type="checkbox" name="Hearing6MTestLeftEar" [(ngModel)]="medicalReport.Hearing6MTestLeftEar" id="Hearing6MTestLeftEar" value="1"
              checked="checked"></label>
      </div>
      </div>

    <p><strong>Urinalysis</strong></p>
    <div class="row">
      <div class="col-md-3">
        <strong>Urine Analysis</strong>
      </div>
      <div class="col-md-2">
        <strong>Glucose</strong>
      </div>
      <div class="col-md-2">
        <strong>Protein</strong>
      </div>
      <div class="col-md-2">
        <strong>Blood</strong>
      </div>
      <div class="col-md-2">
        <strong>Others</strong>
      </div>
    </div> 
    <div class="row">
      <div class="col-md-3">
        <label class="btn radio-inline btn-radio-default-inverse active">
          <input type="radio" name="UrineAnalysis" id="UrineAnalysis" [(ngModel)]="medicalReport.UrineAnalysis" value="1" checked="checked"> Normal
        </label>
    
      </div>
      <div class="col-md-2">
      </div>
      <div class="col-md-2">
      </div>
      <div class="col-md-2">
      </div>
      <div class="col-md-2">
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <label class="btn radio-inline btn-radio-default-inverse">
            <input type="radio" name="UrineAnalysis" id="UrineAnalysis" [(ngModel)]="medicalReport.UrineAnalysis" value="0">
            Abnormal
          </label>  </div>  
        <div class="col-md-2">
          <input type="text" name="UrineAnalysisGlucose" [(ngModel)]="medicalReport.UrineAnalysisGlucose" placeholder="value" value="">
        </div>
        <div class="col-md-2">
            <input type="text" name="UrineAnalysisProtein" [(ngModel)]="medicalReport.UrineAnalysisProtein" placeholder="value" value="">
        </div>
        <div class="col-md-2">
            <input type="text" name="UrineAnalysisBlood" [(ngModel)]="medicalReport.UrineAnalysisBlood" placeholder="value" value="">
        </div>
        <div class="col-md-2">
            <input type="text" name="UrineAnalysisOthers" [(ngModel)]="medicalReport.UrineAnalysisOthers" placeholder="value" value="">
        </div>
      </div>
    <p><strong>Pulmonary function</strong></p>
    <div class="row">
      <div class="col-md-4">
        <label class="btn radio-inline btn-radio-default-inverse active">
          <input type="radio" name="PulmonaryFunctionResult" [(ngModel)]="medicalReport.PulmonaryFunctionResult" checked="checked" id="PulmonaryFunctionResult[]" value="1"> Not
          Performed
        </label>
      </div>
      <div class="col-md-4">
        <label class="btn radio-inline btn-radio-default-inverse">
          <input type="radio" name="PulmonaryFunctionResult" [(ngModel)]="medicalReport.PulmonaryFunctionResult" id="PulmonaryFunctionResult[]" value="2">
          Normal
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <label class="btn radio-inline btn-radio-default-inverse">
          <input type="radio" name="PulmonaryFunctionResult" [(ngModel)]="medicalReport.PulmonaryFunctionResult" id="PulmonaryFunctionResult[]" value="0">
          Abnormal
        </label>
    
      </div>
      <div class="col-md-4">
        <label for="PulmonaryFunctionPeakFlow"> Peak Exp. Flow (L/min)</label>
    
      </div>
      <div class="col-md-4">
        <input type="text" class="item-element med-input" name="PulmonaryFunctionPeakFlow" [(ngModel)]="medicalReport.PulmonaryFunctionPeakFlow" id="PulmonaryFunctionPeakFlow"
          placeholder="Enter value" value="">
      </div>
    </div>
    <p><strong>Heamoglobin</strong></p>
    <div class="row">
      <div class="col-md-4">
        <label class="btn radio-inline btn-radio-default-inverse active">
          <input type="radio" name="HeamoglobinResult" [(ngModel)]="medicalReport.HeamoglobinResult" checked="checked" id="HeamoglobinResult[]" value="1">
          Not Performed
        </label>
      </div>
      <div class="col-md-4">
        <label class="btn radio-inline btn-radio-default-inverse">
          <input type="radio" name="HeamoglobinResult" [(ngModel)]="medicalReport.HeamoglobinResult"  id="HeamoglobinResult[]" value="2">
          Normal
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <label class="btn radio-inline btn-radio-default-inverse">
          <input type="radio" name="HeamoglobinResult" [(ngModel)]="medicalReport.HeamoglobinResult" id="HeamoglobinResult[]" value="0">
          Abnormal
        </label>
    
      </div>
      <div class="col-md-4">
        <label for="PulmonaryFunctionPeakFlow">Heamoglobin Value (g/dl)</label>
      </div>
      <div class="col-md-4">
        <input type="text" class="item-element med-input" name="HeamoglobinValue" [(ngModel)]="medicalReport.HeamoglobinValue" id="HeamoglobinValue" value=""
          placeholder="Enter value">
      </div>
    </div> 
    <p><strong>Accompanying Reports</strong></p>
    <div class="row">
      <label>ECG:</label><br />
    </div>
    <div class="row">
      <div class="col-md-4">
        <label class="btn radio-inline btn-radio-default-inverse active">
          <input type="radio" name="AccompanyECG" [(ngModel)]="medicalReport.AccompanyECG" id="AccompanyECG[]" value="0" checked="checked"> Not
          Performed
        </label>
      </div>
      <div class="col-md-4">
        <label class="btn radio-inline btn-radio-default-inverse">
          <input type="radio" name="AccompanyECG" [(ngModel)]="medicalReport.AccompanyECG" id="AccompanyECG[]" value="1"> Normal
        </label>
      </div>
      <div class="col-md-4">
        <label class="btn radio-inline btn-radio-default-inverse">
          <input type="radio" name="AccompanyECG" [(ngModel)]="medicalReport.AccompanyECG" id="AccompanyECG[]" value="2">
          Abnormal
        </label>
      </div>
    </div>
    <div class="row">
      <label>Audiogram:</label><br />
    </div>
    <div class="row">
      <div class="col-md-4">
        <label class="btn radio-inline btn-radio-default-inverse active">
          <input type="radio" name="AccompanyAudiogram"  id="AccompanyAudiogram[]" checked="checked" value="0">
          Not Performed
        </label>
      </div>
      <div class="col-md-4">
        <label class="btn radio-inline btn-radio-default-inverse">
          <input type="radio" name="AccompanyAudiogram" [(ngModel)]="medicalReport.AccompanyAudiogram" id="AccompanyAudiogram[]" value="1"> Normal
        </label>
      </div>
      <div class="col-md-4">
        <label class="btn radio-inline btn-radio-default-inverse">
          <input type="radio" name="AccompanyAudiogram" [(ngModel)]="medicalReport.AccompanyAudiogram" id="AccompanyAudiogram[]" value="2"> Abnormal
        </label>
      </div>
    </div>
    <div class="row">
      <label>Opthalmology:</label><br />
    </div>
    <div class="row">
      <div class="col-md-4">
        <label class="btn radio-inline btn-radio-default-inverse active">
          <input type="radio" name="AccompanyOphthalmogy" [(ngModel)]="medicalReport.AccompanyOphthalmogy" id="AccompanyOphthalmogy[]" checked="checked" value="0">
          Not Performed
        </label>
      </div>
      <div class="col-md-4">
        <label class="btn radio-inline btn-radio-default-inverse">
          <input type="radio" name="AccompanyOphthalmogy" [(ngModel)]="medicalReport.AccompanyOphthalmogy" id="AccompanyOphthalmogy[]" value="1"> Normal
        </label>
      </div>
      <div class="col-md-4">
        <label class="btn radio-inline btn-radio-default-inverse">
          <input type="radio" name="AccompanyOphthalmogy" [(ngModel)]="medicalReport.AccompanyOphthalmogy" id="AccompanyOphthalmogy[]" value="2"> Abnormal
        </label>
      </div>
    </div>
    <p><strong>Aviation Medical Examiner's Recommendations</strong></p>
    <div class="form-row">
      <label for="MedicalAssessorId">Name of AeroMedical Examiner</label>
    </div>

    <div class="form-row">
      <label for="AMERecommendationsFitClass">Fit Class</label>
    </div>

    <div class="form-row">
      <label for="AMERecommendationsIssuedClass">Medical Certificate Issue Class</label>
    </div>

    <div class="form-row">
      <label for="AMERecommendationsUnfitClass">Unfit Class</label>
    </div>

    <div class="form-row">
      <label id="myLabel7" class="btn checkbox-inline btn-checkbox-inverse"><input type="checkbox"
          name="AMERecommendationsDeferForFurtherEvaluation" [(ngModel)]="medicalReport.AMERecommendationsDeferForFurtherEvaluation" id="AMERecommendationsDeferForFurtherEvaluation" value="1">
        YES</label>
      <label for="AMERecommendationsDeferForFurtherEvaluation">Deferred for
        further
        evaluation?</label>
    </div>

    <div class="form-row" id="AMERecommendationsDeferForFurtherEvaluationContainer">
      <div class="form-group col-md-12"></div>
      <label for="AMERecommendationsDeferForFurtherEvaluationReasons">Reasons
        for Further Deferring
        of Evaluation:</label>
      <textarea name="AMERecommendationsDeferForFurtherEvaluationReasons" [(ngModel)]="medicalReport.AMERecommendationsDeferForFurtherEvaluationReasons" class="form-control"
        id="AMERecommendationsDeferForFurtherEvaluationReasons" placeholder="Type Here"></textarea>
    </div>

    <p><strong>Comments, Restrictions, Limitations</strong></p>
    <div class="form-row">
      <div class="form-group col-md-12">
      <label for="CommentsRestrictionLimitations">Comments,Restriction & Limitations</label>
      <textarea name="CommentsRestrictionLimitations" [(ngModel)]="medicalReport.CommentsRestrictionLimitations" class="form-control" id="CommentsRestrictionLimitations" cols="30" rows="5"
        placeholder="e.g: Your remarks on the tests"></textarea>
    </div></div>

      <p><strong>Medical Examiner</strong></p>
    <div class="form-row">
      <label class="btn checkbox-inline btn-checkbox-inverse active"><input checked="checked" type="checkbox"
          name="AMEAttest" [(ngModel)]="medicalReport.AMEAttest" id="AMEAttest" value="1"> Yes</label>
      <p>I hereby certify that i have personally examined the applicant named on this medical
        examination report and that this report with any attachment embodies my findings
        completely and correctly.</p>
      <label for="AAMEId">A.A.M.E:</label>
    </div>

    <div class="form-row">
    <div class="form-group col-md-6">
        <label for="ExaminationPlace">Exam. Location:</label>
        <textarea name="ExaminationPlace" [(ngModel)]="medicalReport.ExaminationPlace" class="form-control" id="ExaminationPlace" placeholder=""></textarea>  
    </div>
    <div class="form-group col-md-6">
        <label for="ExaminationDate">Exam. Date:</label>
        <input type="text" data-inputmask="'mask': 'y-m-d'" rel="datePicker" name="ExaminationDate" [(ngModel)]="medicalReport.ExaminationDate" class="form-control" id="ExaminationDate"
          value="" />
    </div>
         </div>

   
  </form>
</div>