<div class="card my-2 shadow-sm lamp-sticky-top">
  <app-request-list [type]="type" [hidden]="toggleList"></app-request-list>

  <app-aircrew-list [hidden]="!toggleList"></app-aircrew-list>

  <div class="card-footer">
    <div class="custom-control custom-switch">
      <input type="checkbox" class="custom-control-input" id="toggleList" name="toggleList" [(ngModel)]="toggleList"
        aria-describedby="toggleListHelp">
      <label class="custom-control-label" for="toggleList"><small>Showing results for <span
            class="font-weight-bold">{{ toggleList ? 'aircrew' : 'request' }}</span>,
          switch?</small></label>
    </div>
  </div>
</div>