<div class="container my-2">
  <div class="row">
    <div class="col-md-3">
      <app-aircrew-request-switch type="medicals"></app-aircrew-request-switch>
    </div>
    <div class="col-md-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>