<div class="card-header">
  <input type="text" class="form-control rounded-pill" placeholder="Search for aame...">
</div>

<app-list-loading type="aame" *ngIf="loading"></app-list-loading>

<div class="list-group list-group-flush" *ngIf="!loading">
  <a [routerLink]="['./', i]" class="list-group-item list-group-item-action"
    *ngFor="let history of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]; let i = index">
    <div class="media">
      <img [src]="'/assets/user.jpeg' || 'assets/user.svg'" class="lamp-avatar rounded-circle align-self-center mr-3" alt="AAME">
      <div class="media-body text-break">
        <p class="font-weight-bold m-0">Ibukun Dairo</p>
        <small>ibukun.o.dairo@gmail.com</small>
      </div>
    </div>
  </a>
</div>