<div class="card-header">
  <input type="text" class="form-control rounded-pill" placeholder="Search for aircrew...">
</div>

<app-list-loading type="aircrew" *ngIf="loading"></app-list-loading>

<div class="list-group list-group-flush" *ngIf="!loading">
  <a [routerLink]="['./', aircrew.AirCrewID]" class="list-group-item list-group-item-action"
    *ngFor="let aircrew of aircrews; let i = index">
    <div class="media">
      <img [src]="IMAGE_URL + aircrew.PassportAttachmentUrl" class="lamp-avatar rounded-circle align-self-center mr-3"
        alt="Aircrew" onerror="this.src = '/assets/user.svg';">
      <div class="media-body text-break">
        <p class="font-weight-bold m-0">{{aircrew.Firstname}} {{aircrew.Lastname}}</p>
        <p class="m-0">{{aircrew.occupation}}</p>
      </div>
    </div>
  </a>
</div>