<div class="card-body">
  <h6 class="text-success">Edit Assessment Report</h6>
  <hr>

  <form>
    <div class="form-row">
      <label for="type_of_medical_assessment">Medical Assessment
        Type</label>
    </div>

    <div class="form-row">
      <label for="aeromedical_disposition">Aeromedical Disposition</label>
    </div>

    <div class="form-row">
      <label for="license_type">License Type</label>
    </div>

    <div class="form-row">
      <label for="age">Age</label>
      <input type="text" name="age" placeholder="Age" value="">
    </div>

    <div class="form-row">
      <label for="date_of_medical">Date of Medical</label>
      <input type="text" data-inputmask="'mask': 'y-m-d'" value="" rel="datePicker" name="date_of_medical"
        id="date_of_medical" />
    </div>

    <div class="form-row">
      <label for="license_number">License Number</label>
      <input type="text" value="" name="license_number" disabled="disabled" placeholder="license Number">
    </div>

    <div class="heading">
      <h5><span>49.</span>Limitations</h5>
    </div>

    <div class="form-row">
      <label for="assessor_comment">Medical Assessor
        Comment</label>
      <textarea name="medical_assessor_comment" id="medical_assessor_comment" cols="30" rows="5"
        placeholder="Type Here"></textarea>
    </div>

    <div class="form-row">
      <label for="follow_up">Follow up Plan</label>
      <textarea name="follow_up_plan" id="follow_up_plan" cols="30" rows="5" placeholder="Type Here"></textarea>
    </div>

    <div class="form-row">
      <label for="medical_assessor">Medical Assessor</label>
    </div>

    <div class="form-row">
      <label for="AssessDate">Date</label>
      <input type="text" class="noFuture" data-inputmask="'mask': 'y-m-d'" rel="datePicker" value="" name="AssessDate"
        id="AssessDate" />
    </div>
  </form>
</div>