<div class="modal fade" id="addLicense" tabindex="-1" role="dialog" aria-labelledby="addLicenseTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addLicenseTitle">Add License</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #addLicenseForm="ngForm" novalidate>
          <div class="form-row mb-3">
            <div class="form-group col-md-6">
              <label for="employerLicense">Employer</label>
              <select class="custom-select" id="employerLicense" name="employer" [(ngModel)]="addLicense.employer"
                aria-describedby="employerHelpLicense">
                <option selected>Open this select menu</option>
              </select>
            </div>
            <div class="form-group col-md-6">
              <label for="occupationLicense">Occupation</label>
              <select class="custom-select" id="occupationLicense" name="occupation" [(ngModel)]="addLicense.occupation"
                aria-describedby="occupationHelpLicense">
                <option selected>Open this select menu</option>
              </select>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="licenseTypeLicense">License Type</label>
              <select class="custom-select" id="licenseTypeLicense" name="licenseType"
                [(ngModel)]="addLicense.licenseType" aria-describedby="licenseTypeHelpLicense">
                <option selected>Open this select menu</option>
              </select>
            </div>
          </div>

          <div class="form-row mb-3">
            <div class="form-group col-md-6">
              <label for="receivedDateLicense">Received Date</label>
              <input type="date" class="form-control" id="receivedDateLicense" name="receivedDate"
                [(ngModel)]="addLicense.receivedDate" aria-describedby="receivedDateHelpLicense"
                placeholder="Received Date">
            </div>
            <div class="form-group col-md-6">
              <label for="receivedFromLicense">Received From</label>
              <input type="text" class="form-control" id="receivedFromLicense" name="receivedFrom"
                [(ngModel)]="addLicense.receivedFrom" aria-describedby="receivedFromHelpLicense"
                placeholder="Received From">
            </div>
          </div>

          <div class="form-row mb-3">
            <div class="form-group col-md-12">
              <label for="commentLicense">Comment</label>
              <textarea class="form-control" id="commentLicense" name="comment" [(ngModel)]="addLicense.comment"
                aria-describedby="commentHelpLicense" placeholder="Type a comment..."></textarea>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-success">Add License</button>
      </div>
    </div>
  </div>
</div>