<div class="card my-2 shadow-sm lamp-sticky-top">
  <div class="card-header">
    <strong>History</strong>
  </div>

  <app-list-loading type="request-history" *ngIf="loading"></app-list-loading>

  <div class="list-group list-group-flush" *ngIf="!loading">
    <a [routerLink]="['./request', i]" class="list-group-item list-group-item-action"
      *ngFor="let history of [0, 1, 2, 3, 4]; let i = index">
      <div class="media">
        <ion-icon name="albums" class="align-self-center mr-3"></ion-icon>
        <div class="media-body text-break">
          <p class="font-weight-bold m-0">LICS-9867842011</p>
          <small>Mon, Jul 8, 2019</small>
        </div>
      </div>
    </a>
  </div>
</div>