<div class="card-body">
  <h6 class="text-success">Edit AAME Error</h6>
  <hr>

  <form>
    <div class="heading">
      <h5><span>1.</span>Type of Errors</h5>
    </div>
    <table id="aameerrora">
      <tr>
        <th>(A)</th>
        <th>Form Filling</th>
        <th>Tot. No. of Flds</th>
        <th>No of Errors</th>
        <th>Details of Errors</th>
        <th>Error Rating</th>
      </tr>
      <tr>
        <td>i</td>
        <td>Application Form e.g Licence Number Omission</td>
        <td><label for="ApplicationFormErrorsNo">31</label></td>
        <td><input type="text" name="ApplicationFormErrorsNo" id="ApplicationFormErrorsNo" placeholder="" value=""></td>
        <td><textarea name="ApplicationFormErrorsDetails" id="ApplicationFormErrorsDetails" cols="30"
            rows="4"></textarea>
        </td>
        <td><label for="Error rating" id="ApplicationFormRating">%</label></td>
      </tr>
      <tr>
        <td>ii</td>
        <td>Medical Application Report e.g Peak Expiratory flow result omission</td>
        <td><label for="MedicalExaminationReportErrorsNo">49</label></td>
        <td><input type="text" name="MedicalExaminationReportErrorsNo" id="MedicalExaminationReportErrorsNo"
            placeholder="" value=""></td>
        <td><textarea name="MedicalExaminationReportErrorsDetails" id="MedicalExaminationReportErrorsDetails" cols="30"
            rows="4"></textarea>
        </td>
        <td><label for="Error rating" id="MedicalExaminationReportRating">%</label></td>
      </tr>
      <tr>
        <td>iii</td>
        <td>Ophthalmology Report e.g Comments Not given on Audiogram</td>
        <td><label for="AudiogramErrorsNo">31</label></td>
        <td><input type="text" name="AudiogramErrorsNo" id="AudiogramErrorsNo" placeholder="" value=""></td>
        <td><textarea name="AudiogramErrorsDetails" id="AudiogramErrorsDetails" cols="30" rows="4"></textarea>
        </td>
        <td><label for="Error rating" id="AudiogramReportRating">%</label></td>
      </tr>
      <tr>
        <td>iii</td>
        <td>Ophthalmology Report e.g Omission of values for intermediate vision</td>
        <td><label for="OpthamologyErrorsNo">34</label></td>
        <td><input type="text" name="OpthamologyErrorsNo" placeholder="" value=""></td>
        <td><textarea name="OpthamologyErrorsDetails" id="OpthamologyErrorsDetails" cols="30" rows="4"></textarea>
        </td>
        <td><label for="Error rating" id="OphthalmologyReportRating">%</label></td>
      </tr>
      <tr>
        <td>iv</td>
        <td>Medical Certificate e.g Omission of date last and next medical</td>
        <td><label for="MedicalCertificateErrorsNo">21</label></td>
        <td><input type="text" name="MedicalCertificateErrorsNo" id="MedicalCertificateErrorsNo" placeholder=""
            value=""></td>
        <td><textarea name="MedicalCertificateErrorsDetails" id="MedicalCertificateErrorsDetails" cols="30"
            rows="4"></textarea>
        </td>
        <td><label for="Error rating" id="MedicalCertificateRating">%</label></td>
      </tr>
      <tr>
        <td>v</td>
        <td>Others</td>
        <td></td>
        <td><input type="text" name="OthersErrorsNo" id="OthersErrorsNo" placeholder="" value="">
        </td>
        <td><textarea name="OthersErrorsDetails" id="OthersErrorsDetails" cols="30" rows="4"></textarea></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td>Total Number of Errors</td>
        <td></td>
        <td><input type="text" name="TotalErrors" id="TotalErrors" value=""></td>
        <td></td>
        <td></td>
      </tr>
    </table>
    <table id="aameerrorb">
      <tr>
        <th>(B)</th>
        <th>Medical Examination Reporting</th>
        <th>No. of Errors</th>
        <th>Details of Errors</th>
        <th>Comment</th>
      </tr>
      <tr>
        <td></td>
        <td>Medical Examination Reporting e.g Lack of comments on aircrew/ATC's with medical
          condition</td>
        <td><input type="text" name="MedicalExaminationLackOfCommentsErrorsNo" placeholder="" value="">
        </td>
        <td><textarea name="MedicalExaminationLackOfCommentsErrorsDetails"
            id="MedicalExaminationLackOfCommentsErrorsDetails" cols="30" rows="4"></textarea>
        </td>
        <td><select id="MedicalExaminationLackOfCommentsErrorsComments"
            name="MedicalExaminationLackOfCommentsErrorsComments">
            <option value="1">
              --select--</option>
            <option value="2">
              Very good</option>
            <option value="3">
              Satisfactory</option>
            <option value="4">
              Poor</option>
          </select>
        </td>
      </tr>
    </table>
    <table id="aameerrorc">
      <tr>
        <th>(C)</th>
        <th>Report Submission</th>
        <th></th>
      </tr>
      <tr>
        <td></td>
        <td>Submission of completed Aircrew medical report to the Authority by the AME</td>
        <td>
          <select name="ReportSubmission" id="ReportSubmission">
            <option value="1">Five days
              or less</option>
            <option value="2">Two weeks
              or less</option>

            <option value="3">One month
              or less</option>

            <option value="4">Three
              months or less</option>
          </select>
        </td>
      </tr>
    </table>

    <div class="heading">
      <h5><span>2.</span>Official Remarks</h5>
    </div>
    <textarea name="OfficialRemarks" id="OfficialRemarks" cols="30" rows="5" placeholder="Type Here"></textarea>

    <div class="heading">
      <h5><span>3.</span>Medical Assessor</h5>
    </div>
    <div class="form-row">
      <label for="date">Date</label>
      <input type="text" data-inputmask="'mask': 'y-m-d'" value="" rel="datePicker" name="AssessorEnteredDate"
        id="AssessorEnteredDate" />
    </div>
  </form>
</div>