<div class="card-body">
  <h6 class="text-success">Edit Medical Attachments</h6>
  <hr>

  <form>
    <input type="file" name="upl" multiple />
    <a style="margin-bottom:5px" name="upload_button" id="upload_button" class="btn btn-success" value="">Upload
      Attachment</a>

    <div class="form-row">
      <label for="assessor_comment">Attachment Description</label>
      <textarea name="AttachmentDescription" id="AttachmentDescription" cols="30" rows="5"
        placeholder="Type Here"></textarea>
    </div>

    <iframe id="ecgiframe" src="" style="min-height:400px; width:100%; overflow:visible"></iframe>

    <header>
      <h4 class="text-light">Attachments</h4>
    </header>
    <table class="table table-hover table-striped no-margin">
      <thead>
        <tr>
          <th>Description</th>
          <th>Uploaded By</th>
          <th>Date</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td>
            <a href="" download="" class='btn btn-xs btn-inverse btn-equal' data-toggle='tooltip' data-placement='top'
              data-original-title='Download'><i class='fa fa-download'></i></a>
            <a data-id="" class='btn btn-xs btn-inverse btn-equal deleteECG' data-toggle='tooltip' id=""
              data-placement='top' data-original-title='Delete'><i class='fa fa-times'></i></a>
            <a data-source="" class='btn btn-xs btn-inverse btn-equal viewECG' data-toggle='tooltip'
              data-placement='top' data-original-title='View'><i class='fa fa-eye'></i></a>
          </td>

        </tr>
      </tbody>
    </table>
  </form>
</div>