<div class="card-body">
  <h6 class="text-success">Edit Ophthalmology Report</h6>
  <hr>

  <form>
    <div class="form-row">
      <p>(401) Consent to release of medical information: I herby authorise the release of all
        information contained in this report and any or all attachments to the Aeromedical
        Examiner, the Authority and where necessary the Aeromedical Section of No other State,
        recognizing that these documents or any other electronically stored data are used for the
        completion of a medical assessment and will become and remain the property of the
        Authority, providing that I or my physician may have access to them according to national
        law. Medical Confidentiality will be respected at all times.</p>
      <label class="btn checkbox-inline btn-checkbox-inverse active"><input checked="checked" type="checkbox"
          name="AMEAttest" id="AMEAttest" value="1"> YES</label>
    </div>

    <div class="form-row">
      <label for="AssessorEnteredDate">Assessor Entered (Date)</label>
      <input type="text" data-inputmask="'mask': 'y-m-d'" rel="datePicker" name="AssessorEnteredDate"
        id="AssessorEnteredDate" value="" />
    </div>

    <div class="form-row">
      <label for="ReferenceNumber">Reference Number</label>
      <input type="text" name="ReferenceNumber" placeholder="Reference Number" value="">
    </div>

    <div class="form-row">
      <label for="WitnessAAMEId">A.A.M.E Witness</label>
    </div>

    <div class="form-row">
      <label for="examination_category2"><span>402.</span>Exam.
        Category</label>
    </div>

    <div class="heading">
      <h5>Ophthalmology History</h5>
    </div>
    <textarea name="OphthalmologicalHistory" id="OphthalmologicalHistory" cols="30" rows="5"
      placeholder="Opthamology History: Type Here"></textarea>

    <div class="heading">
      <h5>Clinical Examination: Check each item (if yes)</h5>
    </div>
    <table id="otor-table-1">
      <tr>
        <td><span>304.</span>Eyes, External & Eyelids</td>
        <td>
          <select name="ClinicalExaminationEyesExternal" id="ClinicalExaminationEyesExternal">
            <option value="0">
              Normal</option>
            <option value="1">
              Abnormal</option>
          </select>
        </td>
      </tr>
      <tr>
        <td><span>305.</span>Eyes Exterior (Slit lamp opth)</td>
        <td>
          <select name="ClinicalExaminationEyesExterior" id="ClinicalExaminationEyesExterior">
            <option value="0">
              Normal</option>
            <option value="1">
              Abnormal</option>
          </select>
        </td>
      </tr>
      <tr>
        <td><span>306.</span>Eyes position and impovement</td>
        <td>
          <select name="ClinicalEyePosition" id="ClinicalEyePosition">
            <option value="0">
              Normal</option>
            <option value="1">
              Abnormal</option>
          </select>
        </td>
      </tr>
      <tr>
        <td><span>307.</span>Visual fields (controntation)</td>
        <td>
          <select name="ClinicalVisualFields" id="ClinicalVisualFields">
            <option value="0">
              Normal</option>
            <option value="1">
              Abnormal</option>
          </select>
        </td>
      </tr>
      <tr>
        <td><span>308.</span>Pupilary reflexes</td>
        <td>
          <select name="ClinicalPupilaryReflexes" id="ClinicalPupilaryReflexes">
            <option value="0">
              Normal</option>
            <option value="1">
              Abnormal</option>
          </select>
        </td>
      </tr>
      <tr>
        <td><span>309.</span>Fundi (Opthalmoscopy)</td>
        <td>
          <select name="ClinicalFundi" id="ClinicalFundi">
            <option value="0">
              Normal</option>
            <option value="1">
              Abnormal</option>
          </select>
        </td>
      </tr>
      <tr>
        <td><span>310.</span>Convergence <input type="text" name="ClinicalConvergenceValue" value="" placeholder="">
          cm
        </td>
        <td>
          <select name="ClinicalConvergence" id="ClinicalConvergence">
            <option value="0">
              Normal</option>
            <option value="1">
              Abnormal</option>
          </select>
        </td>
      </tr>
      <tr>
        <td><span>310.</span>Accomodation <input type="text" name="AccommodationValue" value="" placeholder=""> cm
        </td>
        <td>
          <select name="Accommodation" id="ClinicalConvergence">
            <option value="0">
              Normal</option>
            <option value="1">
              Abnormal</option>
          </select>
        </td>
      </tr>
    </table>

    <div class="heading">
      <h5><span>312.</span>Ocular muscle balance(in prisme dioptres)</h5>
    </div>
    <table id="otor-table-2">
      <tr>
        <th></th>
        <th>Distant 5/8</th>
        <th>Near 30-50cm</th>

      </tr>
      <tr>
        <td>Ortho</td>
        <td><input type="text" name="OcularOrthoDistant" placeholder="value" value="">
        </td>
        <td><input type="text" name="OcularOrthoNear" placeholder="value" value="">
        </td>
      </tr>
      <tr>
        <td>Eso</td>
        <td><input type="text" name="OcularEsoDistant" placeholder="value" value="">
        </td>
        <td><input type="text" name="OcularEsoNear" placeholder="value" value="">
        </td>
      </tr>
      <tr>
        <td>Exo</td>
        <td><input type="text" name="OcularExoDistant" placeholder="value" value="">
        </td>
        <td><input type="text" name="OcularExoNear" placeholder="value" value="">
        </td>
      </tr>
      <tr>
        <td>Hyper</td>
        <td><input type="text" name="OcularHyperDistant" placeholder="value" value="">
        </td>
        <td><input type="text" name="OcularHyperNear" placeholder="value" value="">
        </td>
      </tr>
      <tr>
        <td>Cyclo</td>
        <td><input type="text" name="OcularCycloDistant" placeholder="value" value="">
        </td>
        <td><input type="text" name="OcularCycloNear" placeholder="value" value="">
        </td>
      </tr>
      <tr>
        <td>Tropia</td>
        <td>
          <select name="OcularTropia" id="OcularTropia">
            <option value="0">
              No</option>
            <option value="1">
              Yes</option>
          </select>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>Phoria</td>
        <td>
          <select name="OcularPhoria" id="OcularPhoria">
            <option value="0">
              No</option>
            <option value="1">
              Yes</option>
          </select>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>Fusion reserve testing</td>
        <td>
          <select name="OcularReserveTesting" id="OcularReserveTesting">
            <option value="0">
              Not Performed</option>
            <option value="1">
              Abnormal</option>
            <option value="2">
              Normal</option>
          </select>
        </td>
        <td></td>
      </tr>
    </table>

    <div class="heading">
      <h5><span>313.</span>Colour Perception</h5>
    </div>
    <table id="otor-table-3">
      <tr>
        <td>
          <label for="pseudo">Pseudo iso-chromatic plates </label>
        </td>
        <td>
          <label for="type">Type</label>
          <input type="text" name="ColourPerceptionType" value="" placeholder="Type here">
        </td>
      </tr>
      <tr>
        <td>
          <label for="no of plates">No of plates</label>
          <input type="text" name="ColourPerceptionNoOfPlates" value="" placeholder="">
        </td>
        <td>
          <label for="no of errors">No of Errors </label>
          <input type="text" name="ColourPerceptionNoOfErrors" value="" placeholder="">
        </td>
      </tr>
      <tr>
        <td>
          Advanced colour perception testing indicated
        </td>
        <td>
          <select name="ColourPerceptionAdvance" id="ColourPerceptionAdvance">
            <option value="0">
              No</option>
            <option value="1">
              Yes</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>
          Method
        </td>
        <td>
          <select id="ColourPerceptionMethod" name="ColourPerceptionMethod">
            <option value="0">
              --select--</option>
            <option value="1">
              Colour Safe</option>
            <option value="2">
              Not Colour Unsafe</option>
          </select>
        </td>
      </tr>
    </table>

    <div class="heading">
      <h5>Visual Acuity</h5>
    </div>
    <div class="heading2">
      <h5><span>314.</span>Distant vision at 5m/6m</h5>
    </div>
    <table id="otor-table-3">
      <tr>
        <th></th>
        <th></th>
        <th>Spectacles</th>
        <th>Contact Lens</th>
      </tr>
      <tr>
        <td>
          right eye
          <input type="text" name="DistantVisionRightEyeValue" placeholder="value" value="">
        </td>
        <td>corrected to</td>
        <td><input type="text" name="DistantVisionRightEyeCorrectedSpectacle" placeholder="value" value="">
        </td>
        <td><input type="text" name="DistantVisionRightEyeCorrectedLens" placeholder="value" value="">
        </td>
      </tr>
      <tr>
        <td>
          Left eye
          <input type="text" name="DistantVisionLeftEyeValue" placeholder="value" value="">
        </td>
        <td>corrected to</td>
        <td><input type="text" name="DistantVisionLeftEyeCorrectedSpectacle" placeholder="value" value="">
        </td>
        <td><input type="text" name="DistantVisionLeftEyeCorrectedLens" placeholder="value" value="">
        </td>
      </tr>
      <tr>
        <td>
          Both eye
          <input type="text" name="DistantVisionBothEyeValue" placeholder="value" value="">
        </td>
        <td>corrected to</td>
        <td><input type="text" name="DistantVisionBothEyeCorrectedSpectacle" placeholder="value" value="">
        </td>
        <td><input type="text" name="DistantVisionBothEyeCorrectedLens" placeholder="value" value="">
        </td>
      </tr>
    </table>

    <div class="heading2">
      <h5><span>315.</span>Intermediate vision N14 at 100cm</h5>
    </div>
    <table id="otor-table-3">
      <tr>
        <td>Right Eye</td>
        <td><input type="text" name="ImmediateVisionRightEyeValueFrom" placeholder="value" value="">
        </td>
        <td><input type="text" name="ImmediateVisionRightEyeValue" placeholder="value" value="">
        </td>

        <td>
          <select name="ImmediateVisionRightEyeCorrected" id="ImmediateVisionRightEyeCorrected">
            <option value="1">
              Corrected</option>
            <option value="0">
              Not Corrected</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>Left Eye</td>
        <td><input type="text" name="ImmediateVisionLeftEyeValueFrom" placeholder="value" value="">
        </td>
        <td><input type="text" name="ImmediateVisionLeftEyeValue" placeholder="value" value="">
        </td>
        <td>
          <select name="ImmediateVisionLeftEyeCorrected" id="ImmediateVisionLeftEyeCorrected">
            <option value="1">
              Corrected</option>
            <option value="0">
              Not Corrected</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>Both Eye</td>
        <td><input type="text" name="ImmediateVisionBothEyeValueFrom" placeholder="value" value="">
        </td>
        <td><input type="text" name="ImmediateVisionBothEyeValue" placeholder="value" value="">
        </td>
        <td>
          <select name="ImmediateVisionBothEyeCorrected" id="ImmediateVisionBothEyeCorrected">
            <option value="1">
              Corrected</option>
            <option value="0">
              Not Corrected</option>
          </select>
        </td>
      </tr>
    </table>

    <div class="heading2">
      <h5><span>316.</span>Near vision N5 at 30-50cm</h5>
    </div>
    <table id="otor-table-3">
      <tr>
        <td>Right Eye</td>
        <td><input type="text" name="NearVisionRightEyeValueFrom" placeholder="value" value="">
        </td>
        <td><input type="text" name="NearVisionRightEyeValue" placeholder="value" value="">
        </td>
        <td>
          <select name="NearVisionRightEyeCorrected" id="NearVisionRightEyeCorrected">
            <option value="1">
              Corrected</option>
            <option value="0">
              Not Corrected</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>Left Eye</td>
        <td><input type="text" name="NearVisionLeftEyeValueFrom" placeholder="value" value="">
        </td>
        <td><input type="text" name="NearVisionLeftEyeValue" placeholder="value" value="">
        </td>
        <td>
          <select name="NearVisionLeftEyeCorrected" id="NearVisionLeftEyeCorrected">
            <option value="1">
              Corrected</option>
            <option value="0">
              Not Corrected</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>Both Eye</td>
        <td><input type="text" name="NearVisionBothEyeValueFrom" placeholder="value" value="">
        </td>
        <td><input type="text" name="NearVisionBothEyeValue" placeholder="value" value="">
        </td>
        <td>
          <select name="NearVisionBothEyeCorrected" id="NearVisionBothEyeCorrected">
            <option value="1">
              Corrected</option>
            <option value="0">
              Not Corrected</option>
          </select>
        </td>
      </tr>
    </table>

    <div class="heading2">
      <h5><span>317.</span>Refraction</h5>
    </div>
    <table id="otor-table-3">
      <tr>
        <th></th>
        <th>Sph</th>
        <th>Cylinder</th>
        <th>Axis</th>

        <th>Near(add)</th>
      </tr>
      <tr>
        <td>Right Eye</td>
        <td><input type="text" name="RefractionSphRightEye" placeholder="value" value="">
        </td>
        <td><input type="text" name="RefractionCylinderRightEye" placeholder="value" value="">
        </td>
        <td><input type="text" name="RefractionAxisRightEye" placeholder="value" value="">
        </td>
        <td><input type="text" name="RefractionNearRightEye" placeholder="value" value="">
        </td>

      </tr>
      <tr>
        <td>Left Eye</td>
        <td><input type="text" name="RefractionSphLeftEye" placeholder="value" value="">
        </td>
        <td><input type="text" name="RefractionCylinderLeftEye" placeholder="value" value="">
        </td>
        <td><input type="text" name="RefractionAxisLeftEye" placeholder="value" value="">
        </td>
        <td><input type="text" name="RefractionNearLeftEye" placeholder="value" value="">
        </td>
      </tr>
      <tr>
        <td>Actual Refraction examined</td>
        <td>
          <select name="ActualRefractionExamined" id="ActualRefractionExamined">
            <option value="1">
              Corrected</option>
            <option value="0">
              Not Corrected</option>
          </select>
        </td>
        <td></td>
        <td></td>

        <td></td>
      </tr>
      <tr>
        <td>Spectacle Prescription Based</td>
        <td>
          <select name="SpectaclePrescription" id="SpectaclePrescription">
            <option value="1">
              Corrected</option>
            <option value="0">
              Not Corrected</option>
          </select>
        </td>
        <td></td>
        <td></td>
      </tr>
    </table>

    <div class="heading">
      <h5><span>318.</span>Spectacle</h5>
      <select name="Spectacle" id="Spectacle">
        <option value="1">
          Corrected</option>
        <option value="0">
          Not Corrected</option>
      </select>
    </div>
    <table id="otor-table-3">
      <tr>
        <td>Type</td>
        <td><input type="text" name="SpectacleType" value="" placeholder="Type"></td>
      </tr>
    </table>

    <div class="heading">
      <h5><span>319.</span>Contact Lens</h5>
      <select name="ContactLens" id="ContactLens">
        <option value="1">
          Corrected</option>
        <option value="0">
          Not Corrected</option>
      </select>
    </div>
    <table id="otor-table-3">
      <tr>
        <td>Type</td>
        <td><input type="text" name="ContactLensType" value="" placeholder="Type"></td>
      </tr>
    </table>

    <div class="heading">
      <h5><span>320.</span>Intra-ocular pressure</h5>
    </div>
    <table id="otor-table-3">
      <tr>
        <td>
          <label for="right">Right(mmHg)</label>
          <input type="text" name="IntraOcularPressureRight" placeholder="value" value="">
        </td>
        <td>
          <label for="Left">Left(mmHg)</label>
          <input type="text" name="IntraOcularPressureLeft" placeholder="value" value="">
        </td>
      </tr>
      <tr>
        <td>
          <label for="method">Method</label>
          <input type="text" name="IntraOcularPressureMethod" placeholder="value" value="">
        </td>
        <td>
          <select name="IntraOcularPressureMethodValue" id="IntraOcularPressureMethodValue">
            <option value="0">
              Normal</option>
            <option value="1">
              Abnormal</option>
          </select>
        </td>
      </tr>
    </table>

    <div class="heading">
      <h5><span>321.</span>Ophthalmology Remarks and Recommendations</h5>
    </div>
    <textarea name="OphthalmologicalRemarks" id="OphthalmologicalRemarks" cols="30" rows="5"
      placeholder="Type Here"></textarea>

    <div class="heading">
      <h5><span>322.</span>Examiner's declaration</h5>
    </div>
    <label class="btn checkbox-inline btn-checkbox-inverse active"><input checked="checked" type="checkbox"
        name="OpthExaminerAttest" id="OpthExaminerAttest" value="1">
      YES</label>
    <p>I hereby certify that i have pesonally examined the applicant named on this medical
      examination report and that this report with any attachment embodies my findings
      completely and correctly.</p>

    <div class="form-row">
      <label for="AAMEWitnessNumberId1">A.A.M.E</label>
    </div>

    <div class="form-row">
      <label for="AAMEPlace">Place</label>
      <input type="text" name="AAMEPlace" placeholder="Place">
    </div>

    <div class="form-row">
      <label for="AAMEDate">Date</label>
      <input type="text" data-inputmask="'mask': 'y-m-d'" rel="datePicker" name="AAMEDate" id="AAMEDate" value="" />
    </div>
  </form>
</div>