<div class="not-found-page">
  <div class="container d-flex flex-wrap align-items-center justify-content-center py-2">
    <div class="left rounded d-flex flex-column align-items-center justify-content-center">
      <img src="/assets/placeholder.svg" class="lamp-placeholder" alt="Not found">
    </div>
    <div class="right rounded d-flex flex-column align-items-center justify-content-center">
      <h1 class="font-weight-bolder">Ops!</h1>
      <h6 class="font-weight-lighter mt-3">This is almost completely our fault, let's get you back on your way...</h6>

      <div class="mt-3">
        <a class="btn btn-lg mr-3" [routerLink]="['../']">Go Back</a>
        <a class="btn btn-lg btn-outline-success" [routerLink]="['/']">Go Home</a>
      </div>
    </div>
  </div>
</div>