.not-found-page {
  min-height: 100vh;
  background: linear-gradient(to right, #363795, #005c97);
}

.container {
  min-height: 100vh;
}

.left {
  background-color: rgba(255, 255, 255, 0.2);
  height: 410px;
  width: 380px;

  img {
    height: 200px;
  }
}

.right {
  background-color: #ffffff;
  height: 450px;
  width: 410px;
  padding: 40px;
  text-align: center;
}
