<div class="container my-2">
  <div class="row">
    <div class="col-md-3">
      <div class="card my-2 shadow-sm lamp-sticky-top">
        <div class="card-body">
          <p>List</p>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="card my-2 shadow-sm">
        <div class="card-body">
          <p>Content</p>
        </div>
      </div>
    </div>
  </div>
</div>