<nav class="navbar sticky-top navbar-expand-md navbar-dark bg-primary py-3">
  <div class="container ">
    <a class="navbar-brand" [routerLink]="['./']">LAMP</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <ion-icon name="ios-menu" size="small"></ion-icon>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="ml-md-auto mr-md-5">
        <button class="btn btn-sm btn-outline-light mr-3" type="button" data-toggle="modal"
          data-target="#addAircrew">Add Aircrew</button>
        <button class="btn btn-sm btn-outline-light" type="button" data-toggle="modal" data-target="#addAame">Add
          AAME</button>
      </div>

      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link px-md-4" [routerLink]="['./licensing']" routerLinkActive="active">Licensing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-md-4" [routerLink]="['./medicals']" routerLinkActive="active">Medicals</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle px-md-4" href="#" id="navbarMenu" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">More</a>

          <div class="dropdown-menu" aria-labelledby="navbarMenu">
            <a class="dropdown-item" [routerLink]="['./aame']" routerLinkActive="active">AAME</a>
            <a class="dropdown-item" [routerLink]="['./reports']" routerLinkActive="active">Reports</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" [routerLink]="['./administration']" routerLinkActive="active">Administration</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarProfile" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <img [src]="'/assets/user.jpeg' || 'assets/user.svg'" class="lamp-avatar rounded-circle" alt="Profile">
          </a>

          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarProfile">
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#changePassword" role="button">Change
              Password</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#" (click)="onLogout($event)" role="button">Log Out</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

<app-change-password></app-change-password>