.navbar.bg-primary {
  background: linear-gradient(to right, #08304a, #111244);
}

.dropdown-item.active,
.dropdown-item:active {
  background: linear-gradient(to right, #08304a, #111244);
}

.lamp-avatar {
  width: 20px;
  height: 20px;
  border-width: 1px;
}
