<div class="container my-2">
  <div class="row">
    <div class="col-md-3">
      <div class="card my-2 shadow-sm lamp-sticky-top">
        <app-aame-list></app-aame-list>
      </div>
    </div>
    <div class="col-md-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>