<app-main-navigation></app-main-navigation>

<router-outlet></router-outlet>

<app-add-aircrew></app-add-aircrew>

<app-add-aame></app-add-aame>

<app-add-license></app-add-license>

<app-add-certificate></app-add-certificate>