<div class="card-header d-flex align-items-center justify-content-between pr-0">
  <input type="text" class="form-control rounded-pill" placeholder="Search for request...">

  <div class="dropdown">
    <button class="btn btn-sm dropdown-toggle" type="button" id="requestFilter" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      <ion-icon name="md-more"></ion-icon>
    </button>

    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="requestFilter">
      <a class="dropdown-item" role="button">Pending</a>
      <a class="dropdown-item" role="button">Archived</a>
      <a class="dropdown-item" role="button">Closed</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" role="button">Denied</a>
    </div>
  </div>
</div>

<app-list-loading type="request" *ngIf="loading"></app-list-loading>

<div class="list-group list-group-flush" *ngIf="!loading">
  <a [routerLink]="['./', request.AirCrewID, 'request', request.WorkflowId]" class="list-group-item list-group-item-action"
    *ngFor="let request of pending; let i = index">
    <div class="media">
      <img [src]="IMAGE_URL + request.PassportAttachmentUrl" class="lamp-avatar rounded-circle align-self-center mr-3"
        alt="Request" onerror="this.src = '/assets/user.svg';"
        [style.border-color]="getAssignedStatus(request) ? 'green' : 'yellow'">
      <div class="media-body text-break">
        <p class="font-weight-bold m-0">{{request.Firstname}} {{request.Lastname}}</p>
        <p class="m-0">{{request.Occupation}}</p>
        <small>{{request.Name || request.StatusString}}</small>
      </div>
    </div>
  </a>
</div>