/* You can add global styles to this file, and also import other style files */

* {
  font-family: "Montserrat", sans-serif !important;
}

ion-icon {
  vertical-align: middle;
}

.btn {
  font-size: 12px;
  font-weight: 500;
}

.custom-label {
  display: block;
}

.custom-control-label::before {
  top: 0;
}

.custom-control-label::after {
  top: 0;
}

.custom-switch .custom-control-label::after {
  top: 2px;
}

.form-control,
.custom-select {
  font-size: 12px;
  font-weight: 500;
}

.lamp-sticky-top {
  position: sticky;
  top: 88px;
}

app-dashboard {
  .not-found-page {
    min-height: calc(100vh - 72px) !important;

    .container {
      min-height: calc(100vh - 72px) !important;
    }
  }
}

.lamp-pointer {
  cursor: pointer;
}

.dropdown-menu * {
  font-size: 11px;
  font-weight: 500;
}

.lamp-avatar {
  height: 32px;
  width: 32px;
  border: 2px solid #ff9534;
}

.ph-item {
  padding: 0;
  margin: 0;
  background: none;
  border: none;

  & > * {
    flex: none;
    padding: 0;
  }
}

.ph-avatar {
  height: 32px;
  width: 32px;
  min-width: auto;
  margin-bottom: 0;
}

.ph-row {
  margin-bottom: 0;

  div {
    height: 12px;
  }

  .big {
    height: 16px;
  }

  .small {
    height: 10px;
  }
}

.lamp-photo {
  height: 50px;
  width: 50px;
  border: 2px solid #ff9534;
}

.list-group::-webkit-scrollbar,
.table-responsive::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.list-group::-webkit-scrollbar-thumb,
.table-responsive::-webkit-scrollbar-thumb {
  background-color: rgba(221, 221, 221, 0.75);
  border-radius: 2px;
}

.row {
  margin-right: -5px;
  margin-left: -5px;
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
  padding-right: 5px;
  padding-left: 5px;
}
