<div class="card-body">
  <h6 class="text-success">Edit Medical Application</h6>
  <hr>

  <form #medicalApplicationForm="ngForm" novalidate>
    <div class="form-row">
      <div class="form-group col-md-6">
          <label for="MedicalExaminationType">Medical Exam Type</label>      
          <select name="MedicalExaminationType" class="form-control" id="MedicalExaminationType">
              <option value="0">
                General</option>
              <option value="1">
                Comprehensive</option>
            </select>  
      </div>
      <div class="form-group col-md-6">
        <label for="LicenseTypeAppliedId">License Desired</label>
        <input type="text" class="form-control" id="LicenseTypeAppliedId" name="LicenseTypeAppliedId" [(ngModel)]="medicalApplication.LicenseTypeAppliedId"
          placeholder="Licence Desired">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="OccupationID">Occupation</label>
        <input type="text" class="form-control" id="Occupation" name="Occupation"  [(ngModel)]="medicalApplication.Occupation" placeholder="Occupation">
      </div>
      <div class="form-group col-md-6">
        <label for="ApplicationTypeId">Application Type</label>
        <input type="text" class="form-control" id="ApplicationTypeId" name="ApplicationTypeId"  [(ngModel)]="medicalApplication.ApplicationTypeId" placeholder="Application Type">
      </div>
</div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="LicenseCurrentlyHeldId">License Currently Held</label>
        <input type="text" class="form-control" id="LicenseCurrentlyHeldId" name="LicenseCurrentlyHeldId"  [(ngModel)]="medicalApplication.LicenseCurrentlyHeldId" placeholder="Licence Currently Held">
      </div>
      <div class="form-group col-md-6">
        <label for="CertificateClassId">Class of Certificate</label>
        <input type="text" class="form-control" id="CertificateClassId" name="CertificateClassId"  [(ngModel)]="medicalApplication.CertificateClassId" placeholder="Class of Certificate">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6">
        <label for="LastMedicalApplicationDate">Last Med. Date</label>
        <input type="date" class="form-control" id="LastMedicalApplicationDate" name="LastMedicalApplicationDate"  [(ngModel)]="medicalApplication.LastMedicalApplicationDate" placeholder="Last Med. Date">
      </div>
      <div class="form-group col-md-6">
        <label for="AirOperatorId">Employer</label>
        <input type="text" class="form-control" id="AirOperatorId" name="AirOperatorId"  [(ngModel)]="medicalApplication.AirOperatorId" placeholder="Employer">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="LastMedicalExaminationPlace">Last Med. Exam 
          Place</label>
            <input type="text" class="form-control" id="LastMedicalExaminationPlace" name="LastMedicalExaminationPlace"  [(ngModel)]="medicalApplication.LastMedicalExaminationPlace" placeholder="Last Med. Exam Place">
      </div>
      <div class="form-group col-md-6">
        <label for="EmploymentStatusId">Employment Status</label>
        <input type="text" class="form-control" id="EmploymentStatusId" name="EmploymentStatusId"  [(ngModel)]="medicalApplication.EmploymentStatusId" placeholder="Employment Status">
      </div>
         </div>
    <!-- <div class="form-row">
      <div class="form-group col-md-6">
        <label for="ReferenceNumber">Reference Number</label>
        <input type="text" class="form-control" id="ReferenceNumber" name="ReferenceNumber"  [(ngModel)]="medicalApplication.ReferenceNumber" placeholder="Reference Number">
      </div>
    </div> -->

    <table>

      <tr>
        <th width="32%">License Number</th>
        <th width="32%">Country of Issue</th>
        <th width="32%">Occupation</th>
        <th width="4%"><a class="various fancybox.iframe" href="">Add
            Nigerian License</a></th>
      </tr>
      <tr class="">
        <td width="32%"><input type="text" class="existingRecord" disabled name="" value="" /></td>
        <td width="32%"></td>
        <td width="32%"></td>
        <td width="4%"><a href="javascript:;" class="btn btn-info btn-rounded btn-outline btn-equal addFields"><i
              class="fa fa-minus"></i></a>
        </td>
      </tr>

      <tr>
        <td width="32%"><input type="text" name="LicenseNumber[]" value="" /></td>
        <td width="32%"></td>
        <td width="32%"></td>
        <td width="4%"><a href="javascript:;" class="btn btn-info btn-rounded btn-outline btn-equal addFields"><i
              class="fa fa-plus"></i></a></td>
      </tr>
    </table>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="ConditionsOnMedicalCertificate">Any
          Condition on Medical Certificate?</label>
          <div class="col-md-6">
            <label id="myLabel" class="btn checkbox-inline btn-checkbox-inverse">
              <input type="checkbox" name="ConditionsOnMedicalCertificate" id="ConditionsOnMedicalCertificate" [(ngModel)]="medicalApplication.ConditionsOnMedicalCertificate" value="1">
              Yes
            </label>
                <label id="myLabel" class="btn checkbox-inline btn-checkbox-inverse">
                  <input type="checkbox" name="ConditionsOnMedicalCertificate" id="ConditionsOnMedicalCertificate" [(ngModel)]="medicalApplication.ConditionsOnMedicalCertificate" value="2">
                  No
                </label>
</div>
      </div>
    </div>

    <div class="form-row">
      <label for="EverHadCertificateProblem">Ever had
        Certificate denied, suspended or revoked?</label>
      <label id="myLabel2" class="btn checkbox-inline btn-checkbox-inverse">
        <input type="checkbox" name="EverHadCertificateProblem" id="EverHadCertificateProblem" value="1"> Yes
      </label>
    </div>

    <div id="ConditionsOnMedicalCertificateDetailsContainer" class="form-row">
      <label for="Remarks">Details</label>
      <textarea name="ConditionsOnMedicalCertificateDetails" id="ConditionsOnMedicalCertificateDetails" class="notes"
        placeholder="Type here..."></textarea>
    </div>

    <div id="EverHadCertificateProblemContainer" class="form-row">
      <label for="CertificateProblemDate">Date</label>
      <input type="text" data-inputmask="'mask': 'y-m-d'" rel="datePicker" name="CertificateProblemDate"
        id="CertificateProblemDate" value="">
      <label for="CertificateProblemCountryId">Country</label>
      <label for="CertificateProblemDetails">Details</label>
      <textarea name="CertificateProblemDetails" id="CertificateProblemDetails" class="notes"
        placeholder="Type here..."></textarea>
    </div>

    <div class="form-row">
      <label for="TotalFlight">Total flight time (Hrs)</label>
      <input type="text" value="" name="TotalFlight" placeholder="">
    </div>

    <div class="form-row">
      <label for="FlightTimeSinceLastMedical">Flight Hours Since Last Medical</label>
      <input type="text" name="FlightTimeSinceLastMedical" value="" placeholder="">
    </div>

    <div class="form-row">
      <label for="AirCraftPresentlyFlown">Aircraft Presently Flown</label>
      <input type="text" name="AirCraftPresentlyFlown" placeholder="" value="">
    </div>

    <div class="form-row">
      <label for="TypeOfFlyingIntended">Type of Flying Intended</label>
      <input type="text" name="TypeOfFlyingIntended" placeholder="" value="">
    </div>

    <div class="form-row">
      <label for="PresentFlyingActivity">Present Flying Activity</label>
    </div>

    <div class="form-row">
      <label for="AnyAccidentSinceLastMedical">Accident/Incident Since Last Medical?</label>
      <label id="myLabel5" class="btn checkbox-inline btn-checkbox-inverse">
        <input type="checkbox" name="AnyAccidentSinceLastMedical" id="AnyAccidentSinceLastMedical" value="1">
        Yes
      </label>
    </div>

    <div id="AnyAccidentSinceLastMedicalContainer" class="form-row">
      <label for="AccidentDate">Date</label>
      <input type="text" data-inputmask="'mask': 'y-m-d'" rel="datePicker" name="AccidentDate" id="AccidentDate"
        value="">
      <label for="AccidentPlace">Place</label>
      <input type="text" name="AccidentPlace" value="" id="AccidentPlace">
      <label for="AccidentDetails">Details</label>
      <textarea name="AccidentDetails" id="AccidentDetails" class="notes" placeholder="Type here..."></textarea>
    </div>

    <div class="form-row">
      <label for="SmokingHistoryId">Do you Smoke Tobacco?</label>
      <label id="myLabel4" class="btn checkbox-inline btn-checkbox-inverse">
        <input type="checkbox" name="SmokingHistoryId">Yes
      </label>
    </div>

    <div class="form-row">
      <label for="UseMedication">Currently on Medications?</label>
      <label id="myLabel3" class="btn checkbox-inline btn-checkbox-inverse">
        <input type="checkbox" name="UseMedication" id="UseMedication" value="1"> Yes
      </label>
    </div>

    <div id="SmokingHistoryContainer" class="form-row">
      <label for="SmokingHistoryId">Details</label>
      <div class="item-element"></div>
      <textarea name="SmokingHistoryDetails" id="SmokingHistoryDetails" class="notes"
        placeholder="Type here..."></textarea>
    </div>

    <table id="drugs">
      <tr>
        <th>
          <div class='item-label'>Drug</div>
        </th>
        <th>
          <div class='item-label'>Dose</div>
        </th>
        <th>
          <div class='item-label'>Date Started</div>
        </th>
        <th>
          <div class='item-label'>Reason</div>
        </th>
        <th>
          <div class='item-label'>&nbsp;</div>
        </th>
      </tr>

      <tr>
        <td width="19%"><input type="text" name="DrugName[]" class="existingRecord" disabled value="" /></td>
        <td width="19%"><input type="text" name="DrugDose[]" class="existingRecord" disabled value="" /></td>
        <td width="19%">
          <div class='item-element'><input class="existingRecord" disabled type="text" data-inputmask="'mask': 'y-m-d'"
              rel="datePicker" name="DateOfIssue[]" value="" />
          </div>
        </td>
        <td width="19%"><textarea class="existingRecord" disabled name="DrugReasons[]"></textarea></td>
        <td>
          <a class="btn btn-info btn-rounded btn-outline btn-equal addFields" href="javascript:;"><i
              class="fa fa-minus"></i></a>
        </td>
      </tr>

      <tr>
        <td width="19%"><input type="text" name="DrugName[]" value="" /></td>
        <td width="19%"><input type="text" name="DrugDose[]" value="" /></td>
        <td width="19%">
          <div class='item-element'><input type="text" data-inputmask="'mask': 'y-m-d'" rel="datePicker"
              name="DateOfIssue[]" value="" />
          </div>
        </td>
        <td width="19%"><textarea name="DrugReasons[]"></textarea></td>
        <td>
          <a class="btn btn-info btn-rounded btn-outline btn-equal addFields" href="javascript:;"><i
              class="fa fa-plus"></i></a>
        </td>
      </tr>
    </table>

    <div class="form-row">
      <label for="AlcoholAverageWeeklyIntake">Alcohol (Average
        weekly intake)</label>
      <input type="text" value="" name="AlcoholAverageWeeklyIntake" placeholder="Type Here">
    </div>

    <p><em>Does the patient have, or have ever had any of the following? <strong>CHECK if
          YES</strong>. Elaborate <strong>YES</strong> answers in the Remarks section.</em>
    </p>
    <table class="checkbox-table">
      <tr>
        <td><label for="EyeTrouble">1. Eye trouble/ eye operation</label></td>
        <td>
          <div data-toggle="buttons"><label class="btn checkbox-inline btn-checkbox-inverse"><input type="checkbox"
                name="EyeTrouble" id="EyeTrouble" value="1"></label></div>
        </td>
      </tr>
      <tr>
        <td><label for="ContactLensEverWorn">2. Spectacles and/or contact lens ever
            worn</label></td>
        <td>
          <div data-toggle="buttons"><label class="btn checkbox-inline btn-checkbox-inverse"><input type="checkbox"
                name="ContactLensEverWorn" id="ContactLensEverWorn" value="1"></label></div>
        </td>
      </tr>
      <tr>
        <td><label for="ContactLensPrescriptionChangeSinceLastMedical">3. Specs / contact lens
            prescription change since last medical</label></td>
        <td>
          <div data-toggle="buttons"><label class="btn checkbox-inline btn-checkbox-inverse"><input type="checkbox"
                name="ContactLensPrescriptionChangeSinceLastMedical" id="ContactLensPrescriptionChangeSinceLastMedical"
                value="1"></label></div>
        </td>
      </tr>
      <tr>
        <td><label for="HeyFever">4. Hay fever, other allergy</label></td>
        <td>
          <div data-toggle="buttons"><label class="btn checkbox-inline btn-checkbox-inverse"><input type="checkbox"
                name="HeyFever" id="HeyFever" value="1"></label></div>
        </td>
      </tr>
      <tr>
        <td><label for="AsthmaLungDisease">5. Asthma, lung disease</label></td>
        <td>
          <div data-toggle="buttons"><label class="btn checkbox-inline btn-checkbox-inverse"><input type="checkbox"
                name="AsthmaLungDisease" id="AsthmaLungDisease" value="1"></label></div>
        </td>
      </tr>
      <tr>
        <td><label for="HearVascularTrouble">6. Heart or vascular trouble</label></td>
        <td>
          <div data-toggle="buttons"><label class="btn checkbox-inline btn-checkbox-inverse"><input type="checkbox"
                name="HearVascularTrouble" id="HearVascularTrouble" value="1"></label></div>
        </td>
      </tr>
      <tr>
        <td><label for="HighLowBloodPressure">7. High or low blood pressure</label></td>
        <td>
          <div data-toggle="buttons"><label class="btn checkbox-inline btn-checkbox-inverse"><input type="checkbox"
                name="HighLowBloodPressure" id="HighLowBloodPressure" value="1"></label></div>
        </td>
      </tr>
      <tr>
        <td><label for="KidneyStoneBloodInUrine">8. Kidney stone or blood in urine</label>
        </td>
        <td>
          <div data-toggle="buttons"><label class="btn checkbox-inline btn-checkbox-inverse"><input type="checkbox"
                name="KidneyStoneBloodInUrine" id="KidneyStoneBloodInUrine" value="1"></label>
          </div>
        </td>
      </tr>
      <tr>
        <td><label for="DiabetesHormoneDisorder">9. Diabetes, hormone disorder</label></td>
        <td>
          <div data-toggle="buttons"><label class="btn checkbox-inline btn-checkbox-inverse"><input type="checkbox"
                name="DiabetesHormoneDisorder" id="DiabetesHormoneDisorder" value="1"></label>
          </div>
        </td>
      </tr>
      <tr>
        <td><label for="StomachLiverIntestineDisorder">10. Stomach, liver or intestine
            trouble</label></td>
        <td>
          <div data-toggle="buttons"><label class="btn checkbox-inline btn-checkbox-inverse"><input type="checkbox"
                name="StomachLiverIntestineDisorder" id="StomachLiverIntestineDisorder" value="1"></label></div>
        </td>
      </tr>
      <tr>
        <td><label for="AnaemiaSickeCellTraitOtherBloodDisorders">11. Anaemia/Sickle cell
            trait/other blood disorders</label></td>
        <td>
          <div data-toggle="buttons"><label class="btn checkbox-inline btn-checkbox-inverse"><input type="checkbox"
                name="AnaemiaSickeCellTraitOtherBloodDisorders" id="AnaemiaSickeCellTraitOtherBloodDisorders"
                value="1"></label></div>
        </td>
      </tr>
      <tr>
        <td><label for="NoseThroatSpeechDisorder">12. Nose, throat or speech disorder</label>
        </td>
        <td>
          <div data-toggle="buttons"><label class="btn checkbox-inline btn-checkbox-inverse"><input type="checkbox"
                name="NoseThroatSpeechDisorder" id="NoseThroatSpeechDisorder" value="1"></label>
          </div>
        </td>
      </tr>
      <tr>
        <td><label for="HeadInjuryConcussion">13. Head injury or concussion</label></td>
        <td>
          <div data-toggle="buttons"><label class="btn checkbox-inline btn-checkbox-inverse"><input type="checkbox"
                name="HeadInjuryConcussion" id="HeadInjuryConcussion" value="1"></label></div>
        </td>
      </tr>
      <tr>
        <td><label for="FrequentSevereHeadaches">14. Frequent or severe heaaches</label></td>
        <td>
          <div data-toggle="buttons"><label class="btn checkbox-inline btn-checkbox-inverse"><input type="checkbox"
                name="FrequentSevereHeadaches" id="FrequentSevereHeadaches" value="1"></label>
          </div>
        </td>
      </tr>
      <tr>
        <td><label for="DizzinessFaintingSpells">15. Dizziness or fainting spells</label></td>
        <td>
          <div data-toggle="buttons"><label class="btn checkbox-inline btn-checkbox-inverse"><input type="checkbox"
                name="DizzinessFaintingSpells" id="DizzinessFaintingSpells" value="1"></label>
          </div>
        </td>
      </tr>
      <tr>
        <td><label for="Unconsciousness">16. Unconsciousness for any reason</label></td>
        <td>
          <div data-toggle="buttons"><label class="btn checkbox-inline btn-checkbox-inverse"><input type="checkbox"
                name="Unconsciousness" id="Unconsciousness" value="1"></label></div>
        </td>
      </tr>
      <tr>
        <td><label for="NeurologicalDisorders">17. Neurological disorder, stress, stroke,
            epilepsy, seizure, paralysis etc</label></td>
        <td>
          <div data-toggle="buttons"><label class="btn checkbox-inline btn-checkbox-inverse"><input type="checkbox"
                name="NeurologicalDisorders" id="NeurologicalDisorders" value="1"></label>
          </div>
        </td>
      </tr>
      <tr>
        <td><label for="PsychologicalTrouble">18. Psychological/psychiatric trouble of any
            sort</label></td>
        <td>
          <div data-toggle="buttons"><label class="btn checkbox-inline btn-checkbox-inverse"><input type="checkbox"
                name="PsychologicalTrouble" id="PsychologicalTrouble" value="1"></label></div>
        </td>
      </tr>
      <tr>
        <td><label for="AlcoholDrugsubstanceAbuse">19. Alcohol/drug/substance abuse</label>
        </td>
        <td>
          <div data-toggle="buttons"><label class="btn checkbox-inline btn-checkbox-inverse"><input type="checkbox"
                name="AlcoholDrugsubstanceAbuse" id="AlcoholDrugsubstanceAbuse" value="1"></label>
          </div>
        </td>
      </tr>
      <tr>
        <td><label for="AttemptedSuicide">20. Attempted suicide</label></td>
        <td>
          <div data-toggle="buttons"><label class="btn checkbox-inline btn-checkbox-inverse"><input type="checkbox"
                name="AttemptedSuicide" id="AttemptedSuicide" value="1"></label></div>
        </td>
      </tr>
      <tr>
        <td><label for="MotionSicknessRequiringMedication">21. Motion sickness requiring
            medication</label></td>
        <td>
          <div data-toggle="buttons"><label class="btn checkbox-inline btn-checkbox-invers"><input type="checkbox"
                name="MotionSicknessRequiringMedication" id="MotionSicknessRequiringMedication" value="1"></label>
          </div>
        </td>
      </tr>
      <tr>
        <td><label for="AwardPensionCompensionForInjuryIllness">22. Award of pension or
            compensation for injury or sickness</label></td>
        <td>
          <div data-toggle="buttons"><label class="btn checkbox-inline btn-checkbox-inverse"><input type="checkbox"
                name="AwardPensionCompensionForInjuryIllness" id="AwardPensionCompensionForInjuryIllness"
                value="1"></label></div>
        </td>
      </tr>
      <tr>
        <td><label for="MalariaOtherTropicalDisease">23. Malaria or other tropical
            dieases</label></td>
        <td>
          <div data-toggle="buttons"><label class="btn checkbox-inline btn-checkbox-inverse"><input type="checkbox"
                name="MalariaOtherTropicalDisease" id="MalariaOtherTropicalDisease" value="1"></label></div>
        </td>
      </tr>
      <tr>
        <td><label for="HIVpositive">24. A positive HIV test</label></td>
        <td>
          <div data-toggle="buttons"><label class="btn checkbox-inline btn-checkbox-inverse"><input type="checkbox"
                name="HIVpositive" id="HIVpositive" value="1"></label></div>
        </td>
      </tr>
      <tr>
        <td><label for="STD">25. Sexually transmitted disease</label></td>
        <td>
          <div data-toggle="buttons"><label class="btn checkbox-inline btn-checkbox-inverse"><input type="checkbox"
                name="STD" id="STD" value="1"></label></div>
        </td>
      </tr>
      <tr>
        <td><label for="AdmissionToHospital">26. Admission to Hospital</label></td>
        <td>
          <div data-toggle="buttons"><label class="btn checkbox-inline btn-checkbox-inverse"><input type="checkbox"
                name="AdmissionToHospital" id="AdmissionToHospital" value="1"></label></div>
        </td>
      </tr>
      <tr>
        <td><label for="AnyOtherillnessInjury">27. Any other illness or injury</label></td>
        <td>
          <div data-toggle="buttons"><label class="btn checkbox-inline btn-checkbox-inverse"><input type="checkbox"
                name="AnyOtherillnessInjury" id="AnyOtherillnessInjury" value="1"></label>
          </div>
        </td>
      </tr>
      <tr>
        <td><label for="VisitedMedicalPractitionerSinceLastMedical">28. Visit to medical
            practicioner since last medical examination</label></td>
        <td>
          <div data-toggle="buttons"><label class="btn checkbox-inline btn-checkbox-inverse"><input type="checkbox"
                name="VisitedMedicalPractitionerSinceLastMedical" id="VisitedMedicalPractitionerSinceLastMedical"
                value="1"></label></div>
        </td>
      </tr>
      <tr>
        <td><label for="RefusalOfLifeInsurance">29. Refusal of life insurance</label></td>
        <td>
          <div data-toggle="buttons"><label class="btn checkbox-inline btn-checkbox-inverse"><input type="checkbox"
                name="RefusalOfLifeInsurance" id="RefusalOfLifeInsurance" value="1"></label>
          </div>
        </td>
      </tr>
      <tr>
        <td><label for="RefusalOfFlyinglicense">30. Refusal of flying license</label></td>
        <td>
          <div data-toggle="buttons"><label class="btn checkbox-inline btn-checkbox-inverse"><input type="checkbox"
                name="RefusalOfFlyinglicense" id="RefusalOfFlyinglicense" value="1"></label>
          </div>
        </td>
      </tr>
      <tr>
        <td><label for="DeafnessEarDisorder">31. Deafness/Ear disorder</label></td>
        <td>
          <div data-toggle="buttons"><label class="btn checkbox-inline btn-checkbox-inverse"><input type="checkbox"
                name="DeafnessEarDisorder" id="DeafnessEarDisorder" value="1"></label></div>
        </td>
      </tr>
      <tr>
        <td><label for="MedicalRejectionFromMilitaryService">32. Medical rejection from or for
            military service</label></td>
        <td>
          <div data-toggle="buttons"><label class="btn checkbox-inline btn-checkbox-inverse"><input type="checkbox"
                name="MedicalRejectionFromMilitaryService" id="MedicalRejectionFromMilitaryService" value="1"></label>
          </div>
        </td>
      </tr>
    </table>

    <p><em>Does the patient have, or have ever had any of the following? <strong>CHECK if
          YES</strong>. Elaborate <strong>YES</strong> answers in the Remarks section.</em>
    </p>
    <table class="checkbox-table">
      <tr>
        <td><label for="HeartDisease">33. Heart disease</label></td>
        <td>
          <div data-toggle="buttons"><label class="btn checkbox-inline btn-checkbox-inverse"><input type="checkbox"
                name="HeartDisease" id="HeartDisease" value="1"></label></div>
        </td>
      </tr>
      <tr>
        <td><label for="HighBloodPressure">34. High blood pressure</label></td>
        <td>
          <div data-toggle="buttons"><label class="btn checkbox-inline btn-checkbox-inverse"><input type="checkbox"
                name="HighBloodPressure" id="HighBloodPressure" value="1"></label></div>
        </td>
      </tr>
      <tr>
        <td><label for="HighCholestrolLevel">35. High cholesterol level</label></td>
        <td>
          <div data-toggle="buttons"><label class="btn checkbox-inline btn-checkbox-inverse"><input type="checkbox"
                name="HighCholestrolLevel" id="HighCholestrolLevel" value="1"></label></div>
        </td>
      </tr>
      <tr>
        <td><label for="Epilepsy">36. Epilepsy</label></td>
        <td>
          <div data-toggle="buttons"><label class="btn checkbox-inline btn-checkbox-inverse"><input type="checkbox"
                name="Epilepsy" id="Epilepsy" value="1"></label></div>
        </td>
      </tr>
      <tr>
        <td><label for="MentalIllness">37. Mental illness</label></td>
        <td>
          <div data-toggle="buttons"><label class="btn checkbox-inline btn-checkbox-inverse"><input type="checkbox"
                name="MentalIllness" id="MentalIllness" value="1"></label></div>
        </td>
      </tr>
      <tr>
        <td><label for="Diabetes">38. Diabetes</label></td>
        <td>
          <div data-toggle="buttons"><label class="btn checkbox-inline btn-checkbox-inverse"><input type="checkbox"
                name="Diabetes" id="Diabetes" value="1"></label></div>
        </td>
      </tr>
      <tr>
        <td><label for="Tuberculosis">39. Tuberculosis</label></td>
        <td>
          <div data-toggle="buttons"><label class="btn checkbox-inline btn-checkbox-inverse"><input type="checkbox"
                name="Tuberculosis" id="Tuberculosis" value="1"></label></div>
        </td>
      </tr>
      <tr>
        <td><label for="AllergyAsthmaEczema">40. Allergy / Asthma / Eczema</label></td>
        <td>
          <div data-toggle="buttons"><label class="btn checkbox-inline btn-checkbox-inverse"><input type="checkbox"
                name="AllergyAsthmaEczema" id="AllergyAsthmaEczema" value="1"></label></div>
        </td>
      </tr>
      <tr>
        <td><label for="InheritedDisorders">41. Inherited disorders</label></td>
        <td>
          <div data-toggle="buttons"><label class="btn checkbox-inline btn-checkbox-inverse"><input type="checkbox"
                name="InheritedDisorders" id="InheritedDisorders" value="1"></label></div>
        </td>
      </tr>
      <tr>
        <td><label for="Glaucoma">42. Glaucoma</label></td>
        <td>
          <div data-toggle="buttons"><label class="btn checkbox-inline btn-checkbox-inverse"><input type="checkbox"
                name="Glaucoma" id="Glaucoma" value="1"></label></div>
        </td>
      </tr>
      <tr>
        <td><label for="GynaecologicalMenstrualProblemsPregnancy">43. (Females only) Gynae /
            Menstrual issues. Is patient pregnant?</label></td>
        <td>
          <div data-toggle="buttons"><label class="btn checkbox-inline btn-checkbox-inverse"><input type="checkbox"
                name="GynaecologicalMenstrualProblemsPregnancy" id="GynaecologicalMenstrualProblemsPregnancy"
                value="1"></label></div>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <label for="LastMenstrualPeriod">44. (Females only) Last Menstrual period?</label>
          <div class='item-element input-context'><input type="text" data-inputmask="'mask': 'y-m-d'" rel="datePicker"
              name="LastMenstrualPeriod" id="LastMenstrualPeriod" value="" />
          </div>

        </td>
      </tr>
    </table>

    <div class="item-row">
      <label for="Remarks">Remarks</label>
      <textarea name="Remarks" id="Remarks" class="notes"
        placeholder="Include your Remarks here. Enter item number before each comment, and each item on a separate paragraph."></textarea>
    </div>

    <div class="form-row">
      <label for="ApplicationDate">Application Date</label>
      <input type="text" class="noFuture" data-inputmask="'mask': 'y-m-d'" rel="datePicker" name="ApplicationDate"
        id="ApplicationDate" data-rule-date="true" value="" required />
    </div>

    <div class="form-row">
      <label for="AAMEId">A.A.M.E</label>
    </div>
  </form>
</div>