<app-medicals-request-navigation></app-medicals-request-navigation>

<router-outlet></router-outlet>

<div class="card-footer text-right">
  <button type="button" class="btn btn-success">Generate Certificate</button>
</div>