<div class="card-body">
  <h6 class="text-success">Edit Otorhinolaryngology Report</h6>
  <hr>

  <form>
    <div class="form-row">
      <p>(401) Consent to release of medical information: I herby authorise the release of all
        information contained in this report and any or all attachments to the Aeromedical
        Examiner, the Authority and where necessary the Aeromedical Section of No other State,
        recognizing that these documents or any other electronically stored data are used for the
        completion of a medical assessment and will become and remain the property of the
        Authority, providing that I or my physician may have access to them according to national
        law. Medical Confidentiality will be respected at all times.</p>
      <label class="btn checkbox-inline btn-checkbox-inverse active"><input checked="checked" type="checkbox"
          name="AMEAttest" id="AMEAttest" value="1"> YES</label>
    </div>

    <div class="form-row">
      <label for="AssessorEnteredDate">Medical Date</label>
      <input type="text" data-inputmask="'mask': 'y-m-d'" rel="datePicker" name="AssessorEnteredDate"
        id="AssessorEnteredDate" value="" />
    </div>

    <div class="form-row">
      <label for="ReferenceNumber">Reference Number</label>
      <input type="text" name="ReferenceNumber" placeholder="Reference Number" value="">
    </div>

    <div class="form-row">
      <label for="WitnessAAMEId">A.A.M.E Witness</label>
    </div>

    <div class="form-row">
      <label for="examination_category"><span>402.</span>Exam.
        Category</label>
    </div>

    <div class="heading">
      <h5>Otorhinolaryngology History</h5>
    </div>
    <textarea name="OtorhinolaryngologyHistory" id="OtorhinolaryngologyHistory" cols="30" rows="5"
      placeholder="Otorhinolaryngology History: Type Here"></textarea>

    <div class="heading">
      <h5>Clinical Examination: Check each item (if yes)</h5>
    </div>
    <table id="otor-table-1">
      <tr>
        <td><span>404.</span>Head, neck, face, scalp</td>
        <td><input type="checkbox" value="1" name="ClinicalExaminationHeadFace"></td>
      </tr>
      <tr>
        <td><span>405.</span>Buccal cavity, teeth</td>
        <td><input type="checkbox" value="1" name="ClinicalExaminationBuccaCavity"></td>
      </tr>
      <tr>
        <td><span>406.</span>Pharynx</td>
        <td><input type="checkbox" value="1" name="ClinicalExaminationPharyx"></td>
      </tr>
      <tr>
        <td><span>407.</span>Nasal passages and naso-pharynx (inc. Anterior rhinoscopy)</td>
        <td><input type="checkbox" value="1" name="ClinicalExaminationNasalPassages"></td>
      </tr>
      <tr>
        <td><span>408.</span>Vestibular system incl. Romberg test</td>
        <td><input type="checkbox" value="1" name="ClinicalExaminationVestibularSystem"></td>
      </tr>
      <tr>
        <td><span>409.</span>Speech</td>
        <td><input type="checkbox" value="1" name="ClinicalExaminationSpeech"></td>
      </tr>
      <tr>
        <td><span>410.</span>Sinuses</td>
        <td><input type="checkbox" value="1" name="ClinicalExaminationSinuses"></td>
      </tr>
      <tr>
        <td><span>411.</span>Ext acoustic meati, tympanic membranes</td>
        <td><input type="checkbox" value="1" name="ClinicalExaminationExtAcoustic"></td>
      </tr>
      <tr>
        <td><span>412.</span>Pneumatic otoscopy</td>
        <td><input type="checkbox" value="1" name="ClinicalExaminationPneumaticOtoscopy"></td>
      </tr>
      <tr>
        <td><span>413.</span>Impedance typanometry including valsalva manoeuvre (initial only)
        </td>
        <td><input type="checkbox" value="1" name="ClinicalExaminationImpedanceTypanometry">
        </td>
      </tr>
    </table>

    <div class="heading">
      <h5>Additional testing (if indicated)</h5>
    </div>
    <table id="otor-table-2">
      <tr>
        <td><span>414.</span>Speech audiometry</td>
        <td><select name="AdditionalTestingSpeechAudiometry" id="AdditionalTestingSpeechAudiometry">
            <option value="0">Not Performed</option>
            <option value="1">Normal</option>
            <option value="2">Abnormal</option>
          </select></td>
      </tr>
      <tr>
        <td><span>415.</span>Posterior rhinoscopy</td>
        <td><select name="AdditionalTestingPosteriorRhinoscopy" id="AdditionalTestingPosteriorRhinoscopy">

            <option value="0">Not Performed</option>
            <option value="1">Normal</option>
            <option value="2">Abnormal</option>
          </select></td>
      </tr>
      <tr>
        <td><span>416.</span>EOG: spontaenous and positional nystagmus</td>
        <td><select name="AdditionalTestingEOG" id="AdditionalTestingEOG">

            <option value="0">Not Performed</option>
            <option value="1">Normal</option>
            <option value="2">Abnormal</option>
          </select></td>
      </tr>
      <tr>
        <td><span>417.</span>Differential caloric testor vestibular autorotation</td>
        <td><select name="AdditionalTestingDifferentialCaloric" id="AdditionalTestingDifferentialCaloric">
            <option value="0">Not Performed</option>
            <option value="1">Normal</option>
            <option value="2">Abnormal</option>
          </select></td>
      </tr>
      <tr>
        <td><span>418.</span>Mirror or fibre laryngoscopy</td>
        <td><select name="AdditionalTestingMirrorLaryngoscopy" id="AdditionalTestingMirrorLaryngoscopy">
            <option value="0">Not Performed</option>
            <option value="1">Normal</option>
            <option value="2">Abnormal</option>
          </select></td>
      </tr>
    </table>

    <div class="heading">
      <h5><span>419.</span>Pure tone audiometry dB HL (hearing level)</h5>
    </div>
    <table id="otor-table-3">
      <tr>
        <th>Hz</th>
        <th>Right ear</th>
        <th>Left ear</th>
      </tr>
      <tr>
        <td>250</td>
        <td><input type="text" name="PureTone250RightEar" placeholder="Value" value=""></td>
        <td><input type="text" name="PureTone250LeftEar" placeholder="Value" value=""></td>
      </tr>
      <tr>
        <td>500</td>
        <td><input type="text" name="PureTone500RightEar" placeholder="Value" value=""></td>
        <td><input type="text" name="PureTone500LeftEar" placeholder="Value" value=""></td>
      </tr>
      <tr>
        <td>1000</td>
        <td><input type="text" name="PureTone1000RightEar" placeholder="Value" value=""></td>
        <td><input type="text" name="PureTone1000LeftEar" placeholder="Value" value=""></td>
      </tr>
      <tr>
        <td>2000</td>
        <td><input type="text" name="PureTone2000RightEar" placeholder="Value" value=""></td>
        <td><input type="text" name="PureTone2000LeftEar" placeholder="Value" value=""></td>
      </tr>
      <tr>
        <td>3000</td>
        <td><input type="text" name="PureTone3000RightEar" placeholder="Value" value=""></td>
        <td><input type="text" name="PureTone3000LeftEar" placeholder="Value" value=""></td>
      </tr>
      <tr>
        <td>4000</td>
        <td><input type="text" name="PureTone4000RightEar" placeholder="Value" value=""></td>
        <td><input type="text" name="PureTone4000LeftEar" placeholder="Value" value=""></td>
      </tr>
      <tr>
        <td>6000</td>
        <td><input type="text" name="PureTone6000RightEar" placeholder="Value" value=""></td>
        <td><input type="text" name="PureTone6000LeftEar" placeholder="Value" value=""></td>
      </tr>
      <tr>
        <td>8000</td>
        <td><input type="text" name="PureTone8000RightEar" placeholder="Value" value=""></td>
        <td><input type="text" name="PureTone8000LeftEar" placeholder="Value" value=""></td>
      </tr>

    </table>

    <h5>Chart</h5>
    <a href="javascript:void(0)" name="generateOtorChart" id="generateOtorChart" class="btn btn-success">Generate
      Chart</a>
    <div id="legendholder"></div>
    <div id="otorhino-chart" class="flot height-6" data-title="Pure Tone Audiometry"></div>

    <div class="heading">
      <h5>Additional testing (if indicated)</h5>
    </div>
    <textarea name="AudiometryAdditional" id="AudiometryAdditional" cols="30" rows="5"
      placeholder="Audiometry Additional Testing: Type Here"></textarea>

    <div class="form-row" id="otorhino4">
      <label for=">OtorhonolaryngologyRemarks"><span>421.</span>Otorh. Remarks
        and
        Recommendations</label>
      <textarea name="OtorhonolaryngologyRemarks" id="OtorhonolaryngologyRemarks" cols="30" rows="5"
        placeholder="e.g: Your remarks on the tests"></textarea>
    </div>

    <div class="heading">
      <h5><span>422.</span>Examiner's declaration</h5>
    </div>
    <div data-toggle="buttons"><label class="btn checkbox-inline btn-checkbox-inverse active"><input checked="checked"
          type="checkbox" name="ExaminerAttest" id="ExaminerAttest" value="1"> YES</label></div>
    <p>I hereby certify that i have pesonally examined the applicant named on this medical
      examination report and that this report with any attachment embodies my findings
      completely and correctly.</p>

    <div class="form-row">
      <label for="LastAAMEID">A.A.M.E</label>
    </div>

    <div class="form-row">
      <label for="EnteredDate2">Date</label>
      <input type="text" data-inputmask="'mask': 'y-m-d'" rel="datePicker" name="EnteredDate2" id="EnteredDate2"
        value="" />
    </div>
  </form>
</div>